<div class="page-wrapper">
    <!-- start: Inner page hero -->
    <section class="bg-image space-md"  style="background:url('assets/images/image01.jpg')" data-image-src="assets/images/image01.jpg">
        <div class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
                        <h1 class="font-white">Menu page</h1> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end:Inner page hero -->
    <div class="breadcrumb">
        <div class="container">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li routerLink="/menu" class="active">Menu</li>
            </ul>
        </div>
    </div>
    <section class="contact-page inner-page">
        <div class="container">
          <div class="row">
            <div class="inner-page-hero bg-image space-md">
                <div class="container text-xs-center m-b-20">
                   <h1 class="theme-text theme-text-font">Restaurant Menu</h1>
                   <div class="btn-group" style="text-align:center ;">
                     <button class="btn theme-btn mr-2">View</button>
                     <button class="btn theme-btn mr-2">Download</button>
                   </div>
                </div>
             </div>
            <img src="assets/images/menu3.png" alt="" style="width:100%">
          </div>
        </div>
    </section>     
    <section class="app-section">
        <div class="app-wrap">
            <div class="container">
                <div class="row text-img-block text-xs-left">
                    <div class="container">
                        <div class="col-xs-12 col-sm-6  right-image text-center hidden-xs-down">
                            <figure> <img src="assets/images/app.png" alt="Right Image"> </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6 left-text">
                            <h3>The Best Food Delivery App</h3>
                            <p>Now you can make food happen pretty much wherever you are thanks to the free easy-to-use Food Delivery &amp; Takeout App.</p>
                            <div class="social-btns">
                                <a href="#" class="app-btn apple-button clearfix">
                                    <div class="pull-left"><i class="fa fa-apple"></i> </div>
                                    <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">App Store</span> </div>
                                </a>
                                <a href="#" class="app-btn android-button clearfix">
                                    <div class="pull-left"><i class="fa fa-android"></i> </div>
                                    <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">Play store</span> </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>