<div class="page-wrapper">
    <section class="bg-image space-md"  style="background:url('assets/images/image01.jpg')" data-image-src="assets/images/image01.jpg">
      <div class="profile">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
              <h1 class="font-white">My Profile</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="breadcrumb">
      <div class="container">
        <ul>
          <li><a routerLink="/" class="active">Home</a></li>
          <li><a routerLink="/user/addresses">Address</a></li>
          <li>Add Address</li>
        </ul>
      </div>
    </div>
    <section class="contact-page inner-page">
      <div class="container">
        <div class="widget">
          <div class="widget-body">
            <form>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="firstName">Full Name</label>
                  <input class="form-control" type="text" placeholder="First Name" id="firstName"> 
                </div>
                <div class="form-group col-sm-6">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="city"> 
                </div>
                <div class="form-group col-sm-6">
                  <label for="post-code">Post Code</label>
                  <input class="form-control" type="text" placeholder="SL32B" id="post-code"  /> 
                </div>
                <div class="form-group col-sm-6">
                  <label for="emailAddress">Address</label>
                  <input type="text" class="form-control" id="emailAddress"placeholder="Enter Address" /> 
                </div>
              </div>
              <div class="row ">
                <div class="col-sm-12">
                  <p class="update-profile-btn"> <a href class="btn theme-btn">Save</a> </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>