<style>
  header {
    margin-bottom: 0;
    height: unset;
  }

  section.landing-three-pics {
    background: url(images/wood-591631_1920.jpg) center center/cover;
  }

  .poweredby {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 2em;
  }

  .poweredby img {
    width: auto;
    height: 67px;
    margin-right: 18px;
  }

  .poweredby p {
    color: #515050;
  }

  ul.contact_info,
  li.citem {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul.contact_info {
    margin: 2em 0;
  }

  li.citem {
    margin: 0;
    margin-left: 16px;
    color: #515050;
    line-height: 24px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px 0;
  }

  li.citem:before {
    content: '\f006';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    border: solid 1px #ecb43c;
    color: #fff;
    background: #ecb43c;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    margin-right: 10px;
  }

  li.clocation:before {
    content: '\f041';
  }

  li.citem.cphone {
    display: flex;
    align-items: center;
  }

  li.cphone:before {
    content: '\f095';
  }

  li.cemail.cphone {
    display: flex;
    align-items: center;
  }

  li.cemail:before {
    content: '\f0e0';
  }

  /* updates 23-07-2020 start */
  h3.section-title.centered::after {
    margin-left: auto;
    margin-right: auto;
  }

  .fluid {
    max-width: 100% !important;
    width: 100%;
  }

  .p-0 {
    padding: 0 !important;
  }
  .gallery_item {
      padding: 15px 4px;
  }

  .testim.wrap {
    padding: 100px 0 0 0;
    position: relative;
}

  .testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #000;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 1;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: #ea830e;
}
    

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    display: block;
    z-index: 1;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #ea830e;
    border-color: #ea830e;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #002366;
    font-size: 1em;
    font-weight: bold;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #000;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}

form {
  margin: 50px auto;
  font-weight: 400;
}
form h1 {
  font-size: 1.5em;
  color: #2c3e50;
  text-rendering: optimizeLegibility;
}
form label{
  display: block;
  margin-bottom: 5px;
}
form input,
form select ,
form textarea {
  font-size: 15px;
  border: none;
  outline: none;
  width: 100%;
  color: #2c3e50;
  background: #ffffff;
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
}
form input:focus,
form select:focus,
form textarea:focus {
  -moz-box-shadow: #2c3e50 0 0 0 2px inset;
  -webkit-box-shadow: #2c3e50 0 0 0 2px inset;
  box-shadow: #2c3e50 0 0 0 2px inset;
}
form textarea {
  max-width: 100%;
  min-height: 5.625em;
  max-height: 12.5em;
  width: 100%;
}
form input[type=submit] {
  width: 50%;
  background: #27ae60;
  color: #ffffff;
}
form input[type=submit]:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form input[type=submit]:active {
  background: #229955;
}
@media (max-width: 30em) {
  form input[type=submit] {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .title-md {
    margin-top: 25px;
  }
}

@media (max-width: 362px) {

.title-md {
  margin-top: 25px;
  font-size: 30px;
}
}
form fieldset {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  margin: 0.75em 0 0.75em 0;
}
.white-text{
  color: #ffffff !important;
}
.white-text .side-img i{
  border-top: 1px solid #ffffff;
}
.book-table{
  background-size:  cover;
  background-position: bottom center;
  position: relative;
  z-index: 0;
}

.book-table::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

.book-table form{
  z-index: 1;
}
</style>
<section class="slider">
  <div class="wrapperzs">
    <!-- Slider 1 -->
    <div class="slider" id="slider1">
      <!-- Slides -->
      <div style="background-image:url(images/slider/007.jpg)"> </div>
      <span class="titleBar">
        <div>
          <h2 style="font-size: 40px;margin-bottom: 40px">Welcome to {{restaurantObject.restaurantName}} </h2>
          <a href="" class="slider-btn" ng-click="openTableOptions();">Order Now</a>
        </div>
      </span>
    </div>
  </div>
</section>
<section class="landing-intro p-3m">
  <div class="wrapperz">
    <div class="row">
      <div class="cols col-12 text-center">
        <h2 class="section-title">
          <span class="side-img left-side-img"><i></i><i></i><i></i></span>
          About us
          <span class="side-img right-side-img"><i></i><i></i><i></i></span>
        </h2>
        <p>Who we are and what we do.</p>
      </div>
    </div>
    <div><br></div>
    <div class="row">
      <div class="cols col-12 text-center">
        <p class="para">
          At  Turmeric Kitchen @ 65 Restaurant we have the highly qualified and experienced chefs that ensure that the quality of food served to the guests is up to the standards to uphold the market reputation that we have against other places. Our skilled chefs have the most vivid knowledge about cooking the best traditional south Indian food by bringing in the customary ways and techniques to prepare the scrumptious meals.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="p-4m">
  <div class="wrapperz fluid">
    <div class="row">
      <div class="cols col-6 p-0"><img src="images/shop-front.jpg" class="responsive-img" alt=""></div>
      <div class="cols col-6 p-1m text-center">
        <h3 class="section-title title-md">
          <span class="side-img left-side-img"><i></i><i></i><i></i></span>
          Testimonials
          <span class="side-img right-side-img"><i></i><i></i><i></i></span>
        </h3>
        <div class="testim wrap">

          <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
          <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
          <ul id="testim-dots" class="dots">
              <li class="dot active"></li>
              <li class="dot"></li>
              <li class="dot"></li>
          </ul>
          <div id="testim-content" class="cont">
              
              <div class="active">
                  <h2>-Malkit b</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae vel quibusdam veniam aut tenetur ex suscipit dolor amet, animi et quidem itaque odio at doloribus? Voluptatum quasi sapiente rerum. Optio maiores, perspiciatis numquam molestiae sapiente qui doloremque dolorem, autem eos culpa quos voluptates ex tempore beatae, facilis earum perferendis.</p>
              </div>

              <div>
                  <h2>-Jacob n</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae vel quibusdam veniam aut tenetur ex suscipit dolor amet, animi et quidem itaque odio at doloribus? Voluptatum quasi sapiente rerum. Optio maiores, perspiciatis numquam molestiae sapiente qui doloremque dolorem, autem eos culpa quos voluptates ex tempore beatae, facilis earum perferendis.</p>               
              </div>

              <div>
                  <h2>-Pern S</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae vel quibusdam veniam aut tenetur ex suscipit dolor amet, animi et quidem itaque odio at doloribus? Voluptatum quasi sapiente rerum. Optio maiores, perspiciatis numquam molestiae sapiente qui doloremque dolorem, autem eos culpa quos voluptates ex tempore beatae, facilis earum perferendis.</p>    
              </div>

          </div>

      </div>

      </div>
    </div>
  </div>
</section>

<script>
  // vars
  'use strict'
  var	testim = document.getElementById("testim"),
    testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
    testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
    testimLeftArrow = document.getElementById("left-arrow"),
    testimRightArrow = document.getElementById("right-arrow"),
    testimSpeed = 4500,
    currentSlide = 0,
    currentActive = 0,
    testimTimer,
    touchStartPos,
    touchEndPos,
    touchPosDiff,
    ignoreTouch = 30;
  ;

  window.onload = function() {

    // Testim Script
    function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
            testimContent[k].classList.remove("active");
            testimContent[k].classList.remove("inactive");
            testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = testimContent.length-1;
        }

        if (slide > testimContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            testimContent[currentActive].classList.add("inactive");            
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(testimTimer);
        testimTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, testimSpeed)
    }

    testimLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    testimRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function() {
            playSlide(currentSlide = testimDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    // keyboard shortcuts
    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                testimLeftArrow.click();
                break;
                
            case 39:
                testimRightArrow.click();
                break;

            case 39:
                testimRightArrow.click();
                break;

            default:
                break;
        }
    })
    
    testim.addEventListener("touchstart", function(e) {
        touchStartPos = e.changedTouches[0].clientX;
    })

    testim.addEventListener("touchend", function(e) {
        touchEndPos = e.changedTouches[0].clientX;
      
        touchPosDiff = touchStartPos - touchEndPos;
      
        console.log(touchPosDiff);
        console.log(touchStartPos);	
        console.log(touchEndPos);	

      
        if (touchPosDiff > 0 + ignoreTouch) {
            testimLeftArrow.click();
        } else if (touchPosDiff < 0 - ignoreTouch) {
            testimRightArrow.click();
        } else {
          return;
        }
      
    })
  }
</script>
<section id="gallery" class="gallery-section p-4m">
  <div class="wrapperz">
    <div class="row">
      <div class="cols col-12 text-center">
        <h2 class="section-title">
          <span class="side-img left-side-img"><i></i><i></i><i></i></span>
          Gallery
          <span class="side-img right-side-img"><i></i><i></i><i></i></span>
        </h2>
        <p>Don’t forget to visit our gallery section.</p>
      </div>
    </div>
    <div><br></div>
    <div id="popup-gallery" class="tz-gallery">

      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/001.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/002.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/003.jpeg" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/004.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/005.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/006.jpeg" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/007.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/008.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/009.jpeg" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/010.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
            <img src="gallery/011.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/012.jpeg" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/013.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/014.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/015.jpeg" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/016.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/017.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/018.jpeg" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="cols col-4 gallery_item">
              <img src="gallery/019.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
              <img src="gallery/020.jpeg" alt="" class="responsive-img">
        </div>
        <div class="cols col-4 gallery_item">
          <img src="gallery/021.jpeg" alt="" class="responsive-img">
    </div>
        
      </div>

    </div>
    <div>
      <br>
    </div>

  </div>
</section>
<!-- <hr> -->
<section class="book-table p-3m" style="background-image:url(images/slider/restaurant.jpg)">
  <div class="wrapperz">
    <div class="row">
      <div class="cols col-12 text-center">
        <h2 class="section-title white-text">
          <span class="side-img left-side-img"><i></i><i></i><i></i></span>
          Book a table
          <span class="side-img right-side-img"><i></i><i></i><i></i></span>
        </h2>
        <p>Make a Table Reservation.</p>
      </div>
    </div>
    <div><br></div>
    <form id="form">
    <div class="row">
      <div class="cols col-6">
          <fieldset>
            <label for="name">Name</label>
              <input class="floatlabel" id="name" name="name" type="text" ng-model="bookingForm.name" placeholder="Your Full Name" required />
          </fieldset>
          <fieldset>
            <label for="email">Email</label>
              <input class="floatlabel" id="email" name="email" type="email" ng-model="bookingForm.email" placeholder="Your Contact Email" required />
          </fieldset>
          <fieldset>
            <label for="phone">Phone</label>
              <input class="floatlabel" id="phone" name="phone" type="text" ng-model="bookingForm.phone" placeholder="Your Contact Number" required />
          </fieldset>
          
      </div>
      <div class="cols col-6">
        <fieldset>
          <label for="date">Date</label>
            <input class="floatlabel calander" id="datepicker" name="date" type="date" ng-model="bookingForm.date" placeholder="Reservation Date" required />
        </fieldset>
        <fieldset>
          <label for="time">Time</label>
            <input class="floatlabel time" id="time" name="time" type="time" ng-model="bookingForm.time" placeholder="Reservation Time" required />
            <!-- <select name="persons" id="persons" class="floatlabel time">
              <option value="">Select Time</option>
              <option value="12:00am">12:00am</option>
              <option value="12:30am">12:30am</option>
              <option value="1:00am">01:00am</option>
              <option value="1:30am">01:30am</option>
              <option value="2:00am">02:00am</option>
              <option value="2:30am">02:30am</option>
              <option value="3:00am">03:00am</option>
              <option value="3:30am">03:30am</option>
              <option value="4:00am">04:00am</option>
              <option value="4:30am">04:30am</option>
              <option value="5:00am">05:00am</option>
              <option value="5:30am">05:30am</option>
              <option value="6:00am">06:00am</option>
              <option value="6:30am">06:30am</option>
              <option value="7:00am">07:00am</option>
              <option value="7:30am">07:30am</option>
              <option value="8:00am">08:00am</option>
              <option value="8:30am">08:30am</option>
              <option value="9:00am">09:00am</option>
              <option value="9:30am">09:30am</option>
              <option value="10:00am">10:00am</option>
              <option value="10:30am">10:30am</option>
              <option value="11:00am">11:00am</option>
              <option value="11:30am">11:30am</option>
              <option value="12:00pm">12:00pm</option>
              <option value="12:30pm">12:30pm</option>
              <option value="1:00pm">01:00pm</option>
              <option value="1:30pm">01:30pm</option>
              <option value="2:00pm">02:00pm</option>
              <option value="2:30pm">02:30pm</option>
              <option value="3:00pm">03:00pm</option>
              <option value="3:30pm">03:30pm</option>
              <option value="4:00pm">04:00pm</option>
              <option value="4:30pm">04:30pm</option>
              <option value="5:00pm">05:00pm</option>
              <option value="5:30pm">05:30pm</option>
              <option value="6:00pm">06:00pm</option>
              <option value="6:30pm">06:30pm</option>
              <option value="7:00pm">07:00pm</option>
              <option value="7:30pm">07:30pm</option>
              <option value="8:00pm">08:00pm</option>
              <option value="8:30pm">08:30pm</option>
              <option value="9:00pm">09:00pm</option>
              <option value="9:30pm">09:30pm</option>
              <option value="10:00pm">10:00pm</option>
              <option value="10:30pm">10:30pm</option>
              <option value="11:00pm">11:00pm</option>
              <option value="11:30pm">11:30pm</option>
            </select> -->
        </fieldset>
        <fieldset>
          <label for="guests">No. of Guests</label>
            <input class="floatlabel" id="guests" name="guests" type="text" ng-model="bookingForm.guest" placeholder="Total No. of Guests" required />
        </fieldset>
        
      </div>
      <div class="cols col-12">
        <label for="phone">Message</label>
            <textarea class="floatlabel" ng-model="bookingForm.message" placeholder="Message for Management"></textarea>
          
            <fieldset style="text-align: center;">
              <input ng-click="sendEmail(bookingForm)" type="submit" value="Submit" />
          </fieldset>
      </div>
    </div>
  </form>
  </div>
</section>
<!--<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
 <hr> -->
<!-- <section class="landing-three-pics p-4m">
  <div class="wrapperz">
    <div class="row">
      <div class="cols col-4 block"> <img src="images/products/001.jpg" class="responsive-img img-grid" alt=""> </div>
      <div class="cols col-4 block"> <img src="images/products/002.jpg" class="responsive-img img-grid" alt=""> </div>
      <div class="cols col-4 block"> <img src="images/products/003.jpg" class="responsive-img img-grid" alt=""> </div>
    </div>
  </div>
</section> -->
