
<div class="page-wrapper">
    <!-- top Links -->
    <div class="top-links">
       <div class="container">
          <ul class="row links">
             <li class="col-xs-12 col-sm-3 link-item"><span>1</span><a routerLink="/">Choose Your Location</a></li>
             <li class="col-xs-12 col-sm-3 link-item" routerLinkActive="active"><span>2</span><a routerLink="/products">Pick Your favorite food</a></li>
             <li class="col-xs-12 col-sm-3 link-item"><span>3</span><a >Order and Pay online</a></li>
          </ul>
       </div>
    </div>
    <!-- end:Top links -->
    <!-- start: Inner page hero -->
    <section class="inner-page-hero bg-image" style="background: url('assets/images/profile-banner.jpg')" data-image-src="assets/images/profile-banner.jpg">
       <div class="profile">
          <div class="container">
             <div class="row">
                <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile-img">
                   <div class="image-wrap">
                      <figure><img src="assets/images/profile-image.jpg" alt="Profile Image"></figure>
                   </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
                   <div class="pull-left right-text white-txt">
                      <h6><a href="#">Maenaam Thai Restaurant</a></h6>
                      <a class="btn btn-small btn-green">Open</a>
                      <p>Burgers, American, Sandwiches, Fast Food, BBQ</p>
                      <ul class="nav nav-inline">
                         <li class="nav-item"> <a class="nav-link active" href="#"><i class="fa fa-check"></i> Min $ 10,00</a> </li>
                         <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-motorcycle"></i> 30 min</a> </li>
                         <li class="nav-item ratings">
                            <a class="nav-link" href="#"> <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            </span> </a>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- end:Inner page hero -->
    <div class="breadcrumb">
       <div class="container">
          <ul>
             <li><a routerLink="/" routerLinkActive="active">Home</a></li>
             <li><a routerLink="/products" routerLinkActive="active">Search results</a></li>
          </ul>
       </div>
    </div>
    <div class="container m-t-30">
       <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
             <div class="sidebar clearfix m-b-20">
                <div class="main-block">
                   <div class="sidebar-title white-txt">
                      <h6>Choose Cusine</h6>
                      <i class="fa fa-cutlery pull-right"></i> 
                   </div>
                   <ul>
                      <li *ngFor="let cate of categorylist;index as i"><a (click)="onScroll('#target-'+cate.id)" class="scroll active">{{cate.itemName}}</a></li>
                   </ul>
                   <div class="clearfix"></div>
                </div>
                <!-- end:Sidebar nav -->
             </div>
        
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-5">
             <div class="menu-widget m-b-30" *ngFor="let cate of categorylist;index as i">
                <div class="widget-heading">
                   <h3 class="widget-title text-dark">
                     {{cate.itemName}} <a class="btn btn-link pull-right" (click)="cate.isOpen = !cate.isOpen " data-toggle="collapse" href="#{{cate.itemName}}" [attr.aria-expanded]="!cate.isOpen">
                      <i class="fa fa-angle-right pull-right"></i>
                      <i class="fa fa-angle-down pull-right"></i>
                      </a>
                   </h3>
                   <div class="clearfix"></div>
                </div>
                <div class="collapse in" [class.in]="!cate.isOpen"  id="target-{{cate.id}}">
                   <div class="food-item" [class.white]="i%2 == 0" *ngFor="let item of menulist | filterMenu:cate.id; index as i">
                      <div class="row">
                         <div class="col-xs-12 col-sm-12 col-lg-8">
                            <div class="rest-logo pull-left">
                               <a class="restaurant-logo pull-left" href="#"><img [src]="item.image" alt="Food logo"></a>
                            </div>
                            <!-- end:Logo -->
                            <div class="rest-descr">
                               <h6><a href="#">{{item.itemName}}</a></h6>
                               <p> {{item.description}}</p>
                            </div>
                            <!-- end:Description -->
                         </div>
                         <!-- end:col -->
                         <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">$ {{item.itemPrice}}</span> <a (click)="openModal(template,item)" class="btn btn-small btn btn-secondary pull-right" data-toggle="modal" >&#43;</a> </div>
                      </div>
                      <!-- end:row -->
                   </div>
                   <!-- end:Food item -->
                </div>
                <!-- end:Collapse -->
             </div>
          </div>
          <!-- end:Bar -->
          <div class="col-xs-12 col-md-12 col-lg-4">
             <div class="sidebar-wrap">
                <div class="widget widget-cart">
                   <div class="widget-heading">
                      <h3 class="widget-title text-dark">
                         Your Shopping Cart
                      </h3>
                      <div class="clearfix"></div>
                   </div>
                   <div class="widget-body">
                     <div class="price-wrap text-xs-center">
                        <div class="panel">
                           <div class="panel-heading">
                             <h4 class="panel-title">
                               <a (click)="openAllergyModal(allergyPop)"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                 Click here if you or someone you are ordering for has a food allergy
                              </a>
                             </h4>
                           </div>
                         </div>
                     </div>
                  </div>
                   <div class="order-row" [class.bg-white]="i%2 != 0" *ngFor="let product of cartProductsList;index as i">
                      <div class="widget-body">
                         <div class="title-row" >
                           <a (click)="openModal(template,product)">
                              <span class="fa fa-times pull-left quantity"> {{product.quantity}}</span>
                              <span class="product-name" >{{product.itemName}}</span>
                           </a>
                           <span class="pull-right"> ${{product.itemPrice}}</span>
                           <a (click)="onRemoveProduct(product.cartId);"><i class="fa fa-trash pull-right mr-1"></i></a>
                        </div>
                      </div>
                   </div>
                   <div class="widget-delivery clearfix">
                      <form>
                         <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 b-t-0">
                            <label class="custom-control custom-radio">
                            <input id="radio4" name="radio" type="radio" class="custom-control-input" checked=""> <span class="custom-control-indicator"></span> <span class="custom-control-description">Delivery</span> </label>
                         </div>
                         <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 b-t-0">
                            <label class="custom-control custom-radio">
                            <input id="radio3" name="radio" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Takeout</span> </label>
                         </div>
                      </form>
                   </div>
                   <div class="widget-body">
                      <div class="price-wrap text-xs-center">
                         <p>TOTAL</p>
                         <h3 class="value"><strong>$ 25,49</strong></h3>
                         <p>Free Shipping</p>
                         <button routerLink="/checkout" type="button" class="btn theme-btn btn-lg">Checkout</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- end:Right Sidebar -->
       </div>
       <!-- end:row -->
    </div>
    <!-- end:Container -->
    <section class="app-section">
       <div class="app-wrap">
          <div class="container">
             <div class="row text-img-block text-xs-left">
                <div class="container">
                   <div class="col-xs-12 col-sm-6 hidden-xs-down right-image text-center">
                      <figure> <img src="assets/images/app.png" alt="Right Image"> </figure>
                   </div>
                   <div class="col-xs-12 col-sm-6 left-text">
                      <h3>The Best Food Delivery App</h3>
                      <p>Now you can make food happen pretty much wherever you are thanks to the free easy-to-use Food Delivery &amp; Takeout App.</p>
                      <div class="social-btns">
                         <a href="#" class="app-btn apple-button clearfix">
                            <div class="pull-left"><i class="fa fa-apple"></i> </div>
                            <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">App Store</span> </div>
                         </a>
                         <a href="#" class="app-btn android-button clearfix">
                            <div class="pull-left"><i class="fa fa-android"></i> </div>
                            <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">Play store</span> </div>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>


 <ng-template #template> 
   <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalDismiss()"> <span aria-hidden="true"  (click)="onModalDismiss()">&times;</span> </button>
      <div class="modal-body cart-addon">
         <div class="food-item white">
            <div class="row">
               <div class="col-xs-12 col-sm-10 col-lg-10">
                  <div class="item-img pull-left">
                     <a class="restaurant-logo pull-left" href="#"><img src="assets/images/pepsi.png" alt="Food logo"></a>
                  </div>
                  <div class="rest-descr">
                     <h6 class="product-title">{{selectedProduct.itemName}}</h6>
                  </div>
               </div>
            </div>
         <!-- end:Food item -->
         <div class="form-group row cart-actions">
            <div class="col-xs-12 col-sm-12 col-lg-12 text-xs-center"> 
               <span class="price">$ {{selectedProduct.itemPrice}}</span>
            </div>
         </div>
         <div class="form-group row cart-actions">
            <div class="btn-group">
               <div class="col-xs-4 col-sm-2 col-lg-4">
                  <span class="minus-action" (click)="onQuantityUpdate('decrease');"><i class="fa fa-minus theme-btn"></i></span>
               </div>
               <div class="col-xs-4 col-sm-2 col-lg-4">
                  <span class="quantity">{{selectedProduct.quantity}}</span>
               </div>
               <div class="col-xs-4 col-sm-2 col-lg-4">
                  <span class="plus-action" (click)="onQuantityUpdate('increase');"><i class="fa fa-plus theme-btn"></i></span>
               </div>
            </div>
         </div>
         </div>

      </div>
      <div class="modal-footer">
         <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onModalDismiss()" >Close</button> -->
         <button type="button" class="btn theme-btn w-100" (click)="OnAddToCart();">
            <span  class="pull-left">Add to cart</span> 
            <span class="pull-right">{{selectedProduct.itemPrice * selectedProduct.quantity | number : '1.0-2'}}</span></button>
      </div>
   </div>
 </ng-template>

 <ng-template #allergyPop>
   <div class="modal-content">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onModalDismiss()"><span aria-hidden="true" (click)="onModalDismiss()">&times;</span></button>
     <div class="modal-header allergy-header">
       Do you have a food allergy?
     </div>
     <div class="modal-body">If you have a food allergy or intolerance (or someone you're ordering for has), phone the restaurant on <strong>xxxx</strong> . Do not order if you cannot get the allergy information you need.</div>
     <div class="modal-footer">
       <button type="button" class="btn theme-btn w-100" (click)="onModalDismiss();">
         Close
       </button>
     </div>
   </div>
 </ng-template>
 