

.profile-desc .btn-danger{
    background-color: #ef3b0e;
}


.restaurant-entry{
    border: 0px;
}

.restaurant-entry .entry-dscr{
    padding-left: 10px;
}

.restaurant-entry .entry-logo{
    margin: 0px;
    width: 100%;
    flex-shrink: 0;
    height: 100px;
    margin-left: auto;
    padding-left: 8px;

}
.restaurant-entry .right-review{
    margin: 0px;
    padding: 0px;
    border:0px;
}

.restaurant-entry .list-inline{
    border-radius: 50rem;
    color: #242e30;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
    outline: 0;
    overflow: visible;
    /* padding: 9px 24px; */
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}