.quantity{
    padding-top: 5px;
}

.order-row .title-row a i {
    margin-top: 5px;
}

.product-title{
    margin-top: 18px;
}

.cart-actions{
    text-align: center;
}

.quantity{
    font-weight: 600;
    color: #25282b;
}

.panel,.product-name{
    cursor: pointer;
}

.allergy-header{
    font-weight: bold;
    text-align: center;
}
.plus-action,.minus-action{
    cursor: pointer;
}

.modal-body{
    overflow: auto;
}
.selections{
    max-height: 100px;
}

.order-row .fa-trash{
    color:red;
    cursor: pointer;
}
.c-itemSelector-section-heading{
    background-color: #f5f3f1;
    padding: 20px 0px 20px 10px;
    position: sticky;
    top: 56px;
    width: 100%;
    z-index: 1;
}

.c-itemSelector-section-label{
    -webkit-tap-highlight-color: transparent;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 0px 16px;
    position: relative;
    width: 100%;
}

.c-itemSelector-section-heading-title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modifier-group-text{

}

.c-itemSelector-section-heading-detail{
    align-items: center;
    align-self: center;
    display: flex;
    white-space: nowrap;
}

.cart-addon{
    height: 400px;
}

.profile-desc .btn-danger{
    background-color: #ef3b0e;
}