<div class="page-wrapper">
    <!-- start: Inner page hero -->
    <section class="bg-image space-md"  style="background:url('assets/images/image01.jpg')" data-image-src="assets/images/image01.jpg">
        <div class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
                        <h1 class="font-white">Contact us page</h1> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end:Inner page hero -->
    <div class="breadcrumb">
        <div class="container">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li routerLink="/contact-us" class="active">Contact</li>
            </ul>
        </div>
    </div>
    <section class="contact-page inner-page">
        <div class="container">
          <div class="row">
            <!-- REGISTER -->
            <div class="col-md-8">
              <div class="widget">
                <div class="widget-body">
                  <!-- Contact form -->
                  <div class="form-horizontal contact-form" role="form">
                    <fieldset>
                      <div class="row form-group">
                        <div class="col-xs-6">
                          <input class="form-control" id="fname" name="fname" type="text" placeholder="First Name *" required="" />
                        </div>
                        <div class="col-xs-6">
                          <input class="form-control" id="lname" name="lname" type="text" placeholder="Last Name *" required="" />
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-xs-6">
                          <input class="form-control" id="email" name="email" type="email" placeholder="Email *" required="" />
                        </div>
                        <div class="col-xs-6">
                          <input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone" />
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-xs-12">
                          <textarea class="form-control" id="message" name="message" rows="10" placeholder="Message *" required=""></textarea>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-xs-12 sendMessage">
                          <button class="btn btn-lg theme-btn " type="submit">Send Message</button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <!-- End Contact form -->
                </div>
              </div>
              <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
            <!-- WHY? -->
            <div class="col-md-4">
              <div class="container">
                <div class="mapouter">
                  <div class="gmap_canvas">
                    <iframe width="350" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://putlocker-is.org"></a><br />
                    <style>
                      .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 350px;
                      }
                    </style>
                    <a href="https://www.embedgooglemap.net">custom google maps embed</a>
                    <style>
                      .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 350px;
                      }
                    </style>
                  </div>
                </div>
              </div>
            </div>
            <!-- /WHY? -->
          </div>
        </div>
    </section>     
    <section class="app-section">
        <div class="app-wrap">
            <div class="container">
                <div class="row text-img-block text-xs-left">
                    <div class="container">
                        <div class="col-xs-12 col-sm-6  right-image text-center hidden-xs-down">
                            <figure> <img src="images/app.png" alt="Right Image"> </figure>
                        </div>
                        <div class="col-xs-12 col-sm-6 left-text">
                            <h3>The Best Food Delivery App</h3>
                            <p>Now you can make food happen pretty much wherever you are thanks to the free easy-to-use Food Delivery &amp; Takeout App.</p>
                            <div class="social-btns">
                                <a href="#" class="app-btn apple-button clearfix">
                                    <div class="pull-left"><i class="fa fa-apple"></i> </div>
                                    <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">App Store</span> </div>
                                </a>
                                <a href="#" class="app-btn android-button clearfix">
                                    <div class="pull-left"><i class="fa fa-android"></i> </div>
                                    <div class="pull-right"> <span class="text">Available on the</span> <span class="text-2">Play store</span> </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>