<div class="page-wrapper">
  <section class="bg-image space-md"  style="background:url('assets/images/image01.jpg')" data-image-src="assets/images/image01.jpg">
    <div class="profile">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
            <h1 class="font-white">My Addresses</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page inner-page">
    <div class="container">
      <app-tabs [selectedTab]="'addresses'"></app-tabs>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="addresses-tab" role="tabpanel" aria-labelledby="addresses-tab">
                <div class="widget-body">
                  <p class="Add-profile-btn"> <a routerLink="/user/address/add" class="btn theme-btn">Add Address</a> </p>
                </div>
    
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let addr of addressesList;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{addr.addressType}}</td>
                <td>{{addr.phoneNumber}}</td>
                <td>{{addr.addressLine1 + ' ' + addr.addressLine2 + ' ' + addr.city + ' ' + addr.zipPostalCode + ' ' + addr.country}}</td>
                <td><a routerLink="/user/address/add" [queryParams]="{ id : addr.addressId }"><i class="fa fa-pencil" aria-hidden="true"></i></a> | <a style="cursor: pointer;color:red" (click)="onDeleteAddress(addr.addressId)"><i class="fa fa-remove" aria-hidden="true"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>