<section id="About" class="gallery-section p-4m ng-scope">
    <div class="wrapperz">
        <div class="row">
            <div class="cols col-12 text-center">
                <h2 class="section-title">
                    <span class="side-img left-side-img"><i></i><i></i><i></i></span>
                    About Us
                    <span class="side-img right-side-img"><i></i><i></i><i></i></span>
                </h2>
            </div>
        </div>
        <div><br></div>
        <div id="popup-gallery" class="text-content">
            <div class="row">
                <div class="cols col-7">
                    <p>At  Turmeric Kitchen @ 65 Restaurant we have the highly qualified and experienced chefs that ensure that the quality of food served to the guests is up to the standards to uphold the market reputation that we have against other places. Our skilled chefs have the most vivid knowledge about cooking the best traditional south Indian food by bringing in the customary ways and techniques to prepare the scrumptious meals.</p>

                    <p>Most of the foodies like popular and Best Indian cuisine. It is believed all across the world that Indian cuisines include a wide variety of regional and traditional cuisine. Best Indian food Near You and Me may also heavily influenced by religious and cultural choices, like traditions. So we bring you the best of all Indian cuisine that you can enjoy greatly at Golden Turmeric Restaurant. The traditional food of India has been widely appreciated all around the world for its remarkable use of herbs and spices in the ingredients that makes the dishes finger-licking.</p>
        
                    <p>Since  Indian cuisine is known for its large assortment of dishes such as Tandoori, South Indian & North Indian Chicken Dishes, we make sure to offer all the varieties of delicious and mouth-watering food that people can enjoy at our place</p>
                </div>
                <div class="cols col-5">
                    <div class="image-placeholder">
                        <img src="images/shop-front2.jpg" class="responsive-img" alt="">
                        <div class="extra-design"></div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>