<style>
    .content .wrapperz {
        -webkit-border-radius: 0 0 20px 20px;
        border-radius: 0 0 20px 20px;
    }
    .p-tb2 {
        padding: 2em 0;
    }
    .p-tb3 {
        padding: 3em 0;
    }
    .p-tb4 {
        padding: 4em 0;
    }
    .contact_form label {
        display: block;
        color: black;
        margin-bottom: 0.6em;
    }
    .contact_form .form-item {
        font-family: 'Hind Vadodara', sans-serif;
        margin-bottom: 1em;
    }
    .contact_form input,
    .contact_form textarea {
        width: 100%;
        padding: 0.5em 1em;
        border: solid 1px lightgray;
        border-radius: 4px;
    }
    .btn {
        background: #007bff;
        border: 2px solid #007bff;
        border-radius: 10px;
        padding: 12px 45px;
        cursor: pointer;
        color: #ffffff;
    }
    .contact_form textarea {
        height: 200px;
    }
    .contact-btn {
        width: 300px;
        font-family: 'Hind Vadodara', sans-serif;
    }
    .item-center {
        float: unset;
        margin: auto;
    }
    .first_footer {
        padding: 3em 0;
        border-top: 2px solid lightgrey;
        margin-top: 1.5em;
    }
    .contact_form .input-wrapper {
        position: relative;
        border-radius: 5px;
        background-color: #ECEFF8;
        border: 0px solid lightgray;
    }
    .contact_form input{
        height: 40px;
        background-color: transparent;
        border: 0px;
        padding-left: 40px;
    }
    .contact_form textarea{
        background-color: transparent;
        border: 0px;
        padding-left: 40px;
    }
    .contact_form .input-wrapper i{
        position: absolute;
        padding: 0.5em 1em;
        height: 40px;
        border: 0px solid lightgray;
        left: 0;
        top: 0;
        color: #9b9b9b;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-btn{
        background: var(--new-primary-color);
        border-color: var(--new-primary-color);
        color: #fff;
    }
    .contact-btn:hover{
        background: var(--new-primary-color);
        color: #fff;
        opacity: 0.5;
    }
    
    footer .copyright p a,
    footer .copyright p a:hover {
        color: #fff !important;
        font-weight: bold !important;
        text-decoration: none;
    }
    .responsive-iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        display: block;
        clear: both;
    }
    .responsive-iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: 16:9;
    }
    @media (min-width: 768px){
        .responsive-iframe-container,
        .responsive-iframe-container iframe{
            height: 350px;
            padding: 0;
        }
        .responsive-iframe-container{
            border: 0px solid red;
        }
        ul.contact_info {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }
    }
    @media (max-width: 600px){
        .responsive-iframe-container,
        .responsive-iframe-container iframe{
            height: 450px;
            padding: 0;
        }
        .responsive-iframe-container{
            border: 0px solid green;
        }
    }
</style>
<section class="content contact-section">
    <!-- <div class="responsive-iframe-container">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?q=268 Bath Road, Slough, Berkshire, SL1 4DX, United Kingdom&output=embed"></iframe>
    </div> -->
    <div class="wrapperz p-b4">
        <div class="responsive-iframe-container">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?q=65 Station Rd, Taunton TA1 1PA, United Kingdom&output=embed"></iframe>
        </div>
        <div class="row">
            <div class="cols col-12 item-center">
                <!-- <div class="row">
                    <div class="cols col-12">
                        <div class="responsive-iframe-container">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps?q=268 Bath Road, Slough, Berkshire, SL1 4DX, United Kingdom&output=embed"></iframe>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="cols col-12">
                        <br /><br /><br /><br />
                    </div>
                </div>
                <form class="contact_form" novalidate>
                    <div class="row">
                        <div class="cols col-6">
                            <div class="form-item">
                                <label>Name*</label>
                                <div class="input-wrapper">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text" class="contactform" name="name" id="name" ng-model="contactUs.name" ng-required="true">
                                </div>
                            </div>
                            <div class="form-item">
                                <label>Phone*</label>
                                <div class="input-wrapper">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <input type="text" class="contactform" name="phone" id="phone" ng-model="contactUs.phoneNumber" ng-pattern="/^[0-9]{1,5}$/" ng-required="true">
                                </div>
                            </div>
                            <div class="form-item">
                                <label>Email*</label>
                                <div class="input-wrapper">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input type="email" class="contactform" name="email" id="email" ng-model="contactUs.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="cols col-6">
                            <div class="form-item">
                                <label>Message*</label>
                                <div class="input-wrapper">
                                    <i class="fa fa-pencil"></i>
                                    <textarea name="message" rows="5" id="message" ng-model="contactUs.message" ng-required="true"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="cols col-12">
                            <div class="form-item text-center">
                                <button type="button" class="btn contact-btn"
                                    ng-disabled="contact_form.$invalid" ng-click="sendEmail(contactUs)">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>