<style>
  .fintro {
      margin-top: 10px;
  }
  .fintro.time-col p{
      line-height: 1.4 !important;
      color: #515050;
      font-size: 95%;
  }
  .fintro.time-col strong {
      font-weight: 600;
  }
  .fintro .day-span{
      display: inline-block;
      width: 40px;
      position: relative;
  }
  .fintro .day-span::after{
      content: ":";
      position: absolute;
      right: 0;
  }
  .fintro.social img{
      width: 90%;
  }
  footer p a {
    color: #fff !important;
    text-decoration: none;
  }
  footer .copyright p a,
  footer .copyright p a:hover {
      color: #fff !important;
      font-weight: bold !important;
      text-decoration: none;
  }
  .contact_info li {
      display: flex;
      align-items: center;
  }
  @media only screen and (max-width:600px) {
      ul.contact_info {
          margin: 2em;
      }
  }
  
</style>
<div class="first_footer">
    <div class="wrapperz">
      <div class="row">
        <div class="cols col-4 fintro">
          <h3>Contact us</h3>
          <div>
            <ul class="contact_info">
              <li class="citem clocation"> <span>{{restaurantObject.restaurantAddress}}</span> </li>
              <li class="citem cphone"> <span>{{restaurantObject.phoneNumber}}</span> </li>
              <li class="citem cemail"> <span>{{restaurantObject.email}}</span> </li>
            </ul>
          </div>
        </div>
        <div class="cols col-4 fintro">
          <h3>Follow us on</h3>
          <ul class="list-inline social-links">
            <li> <a href="#" class="btn-social btn-outline facebook-btn" onclick="socialMedia('')"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline twitter-btn" onclick="socialMedia('')"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline pinterest-btn" onclick="socialMedia('')"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
          </ul>
          <div class="clearfix">
            <br>
            <br> </div>
          <p>Payments Accepted</p> <img src="images/pay_by_cards.jpg" alt=""> </div>
        <div class="cols col-4 fintro">
          <h3>Powered by</h3>
          <a href="#" onclick="JeMWeb()">
            <div class="poweredby"> <img src="images/footer-logo.jpg" alt="">
              <p>www.jempos.co.uk</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>