<section class="content">

    <div id="content_wrapper" class="wrapperz">

        <div class="row">

            <div class="cols col-12 login">

                <div class="cols col-5 card nofloat">

                    <article class="card-body">

                        <h4 class="card-title mb-4 mt-1">Forgot your password?</h4>

                        <form name="SignInForm" novalidate>

                            <div class="form-group">

                                <label>Phone Number</label>

                                <input name="" class="form-control" placeholder="Number" numbers-only type="text" ng-model="username" maxlength="12" ng-required="true">

                            </div> <!-- form-group// -->

                            <!-- <div class="form-group"> 

                                <div class="checkbox">

                                    <label> <input type="checkbox"> Save password </label>

                                </div>

                                <a class="float-right" href >Forgot Password?</a>

                            </div>   -->

                            <div id="mydivz" style="color:#f00; text-align:center; padding:5px; font-size:12px;margin-bottom: 10px;" ng-show="loginError.length > 0">

                                {{loginError}}

                            </div>

                            <div class="form-group submit-btn">

                                <button type="submit" class="btn green-btn" ng-click="resetPassword(username)" ng-disabled="SignInForm.$invalid"> Reset Password </button>

                            </div> <!-- form-group// -->

                            <div class="clearfix"></div>

                        </form>

                        <p style="text-align: center;font-family: 'Hind Vadodara', sans-serif;color:black">Don't have an account? <a href ng-click="ChangePage('signup')">Sign up</a></p>

                        <div class="clearfix"></div>

                    </article>

                </div> <!-- card.// -->           

            </div>                

        </div>

    </div>

</section>
