<style>

    .content .wrapperz {

        -webkit-border-radius: 0 0 20px 20px;

    border-radius: 0 0 20px 20px;

    }

    .p-tb2{

        padding: 2em 0;

    }

    .p-tb3{

        padding: 3em 0;

    }

    .p-tb4{

        padding: 4em 0;

    }

    .contact_form label {

        display: block;

        color: black;

        margin-bottom: 0.6em;

    }

    .contact_form .form-item{

        font-family: 'Hind Vadodara', sans-serif;

        margin-bottom: 1em;



    }

    .contact_form input,

    .contact_form textarea {

        width: 100%;

        padding: 0.5em 1em;

        border: solid 1px lightgray;

        border-radius: 4px;

    }

    .btn {

        background: #007bff;

        border: 2px solid #007bff;

        border-radius: 10px;

        padding: 12px 45px;

        cursor: pointer;

        color: #ffffff;

    }

    

    .contact_form textarea{

        height: 200px;

    }

    .contact-btn{

        width: 300px;

        font-family: 'Hind Vadodara', sans-serif;

    }

    .item-center{

        float: unset;

        margin: auto;

    }

    .first_footer {

        padding: 3em 0;

        border-top: 2px solid lightgrey;

        margin-top: 1.5em;

    }

    /* .contactform.ng-invalid.ng-touched{

        border: red;

    } */

</style>

<section class="content contact-section">

<div class="wrapperz p-tb4">

    <div class="row">

        <div class="cols col-8 item-center">

            <!-- <a ng-href="/images/menu-page.jpeg" download="Menu.jpeg">Download Menu</a> -->
            <a onclick="DownloadFileFromDirectory('images/Turmeric Kitchen - Restaurant Menu 2021 WEB 2.pdf')" role="button">
                Click here to download menu
            </a>

            <img src="images/menu3.png" width="100%" />
            <img src="images/menu4.png" width="100%" />

            <a onclick="DownloadFileFromDirectory('images/Turmeric Kitchen - Takeaway Menu WEB.pdf')" role="button">
                Click here to download menu
            </a>

            <img src="images/menu5.png" width="100%" />
            <img src="images/menu6.png" width="100%" />

            <a onclick="DownloadFileFromDirectory('images/Turmeric Kitchen - Vegan Menu 2021 WEB.pdf')" role="button">
                Click here to download menu
            </a>

            <img src="images/menu7.png" width="100%" />
            <img src="images/menu8.png" width="100%" />

        </div>

    </div>

</div>

</section>
