<section class="content myaccount-page">

    <div class="hidden-menu">

        <ul>

            <li><button id="show-cat" type="button" class="menubtn left">Sidebar</button></li>

        </ul>

    </div>

    <div id="content_wrapper" class="wrapperz" style="padding: 1.5em 0;margin-bottom: 2em;">

        <div class="row">

            <aside id="catbar" class="cols col-3 sidebar addheight">

                <div class="sticky">

                    <span id="closecat" class="close-cat"><span class="icon-close"></span></span>

                    <h3>My Stuff</h3>

                    <ul>

                        <li><a href ng-click="getRecentOrders();">Orders</a></li>

                        <!-- <li><a href="past-orders.html">Past Orders</a></li> -->

                        <li><a href ng-click="ChangePage('myprofile');">Profile</a></li>
                        <li><a href ng-click="ChangePage('myrewards');">Rewards</a></li>

                        <li class="active"><a href ng-click="getMyAddresses();">Addresses</a></li>

                    </ul>

                </div>

            </aside>

            <div class="cols col-9 content addheight">

                <div class="row sub-heading">

                    <div class="cols col-6">

                        <h3>Addresses</h3>

                    </div>

                    <div class="cols col-6 text-right">

                            <a href="javascript:void(0)" id="toggle" class="extra-btns active" ng-click="addanAddress();"><span class="icon-plus-square"></span> Add New</a>

                        <!-- <a href class="extra-btns" ng-click="ChangePage('myprofile');">Edit Profile</a>

                        |

                        <a href  class="extra-btns" ng-click="getMyAddresses();">Addresses</a> -->

                    </div>

                </div>

                

                <div class="clearfix"><br></div>

                <!-- <p class="text-right"><a href class="btn2" ng-click="addanAddress();">Add New Address</a></p> -->

                <div class="clearfix"><br></div>

                <div class="saved_addresses">

                    <div class="row addressItems" ng-repeat = "ma in myAddresses"  ng-show="ma.isDisplay" ng-if="!ma.hasUserDeletedAddress">

                        <div class="cols col-10">

                            <!-- <p ng-if="ma.AddressType == ''"><strong>Other</strong></p> -->

                            <p ng-show='ma.custAddressType == "default"'><strong>Main</strong></p>

                            <p ng-show='ma.custAddressType == "other"'><strong>Other {{ma.sort}}</strong></p>

                            <!-- <p><strong>{{ma.custAddressType | capitalize}}</strong></p> -->

                            <p>{{ma.custHouseNumber}} {{ma.custStreetNumber}} {{ma.custCity}} {{ma.custPostalCode}} {{ma.custAddress}} </p>

                            <!-- <p>Gulberg II</p>

                            <p>Lahore</p> -->

                            <p>{{UserID}}</p>

                        </div>

                        <div class="cols col-2">

                            <a href class="edit" ng-click="editAnAddress(ma);"><span class="icon-edit"></span></a>

                            <a href class="delete" ng-click="deleteAddress(ma);"><span class="icon-trash-2"></span></a>

                        </div>

                        <div class="cols col-12 seperator">

                            <hr>

                        </div>

                    </div>

                    <!-- <div class="row">

                        <div class="cols col-10">

                            <p><strong>Other</strong></p>

                            <p>Office #407-A, 4th floor sidique trade center gulbeg lahore</>

                            <p>Gulberg II</p>

                            <p>Lahore</p>

                            <p>+92 300 8881028</p>

                        </div>

                        <div class="cols col-2">

                            <a href="add-address.html" class="edit"><span class="icon-edit"></span></a>

                            <a href="#" class="delete"><span class="icon-trash-2"></span></a>

                        </div>

                        <div class="cols col-12 seperator">

                            <hr>

                        </div>

                    </div> -->

                </div>

            </div>

        </div>

    </div>

</section>
