<style>
    .blog-items {
        margin-bottom: 2em;
    }

    .blog-item {
        padding: 15px 10px;
        border-bottom: 1px solid #000;
    }

    .blog-item h3 {
        color: #000000;
        margin-bottom: 8px;
    }

    .blog-item p {
        color: #000000;
        margin-bottom: 15px;
    }

    .blog-item a.readmore {
        border: 1px solid #f6c737;
        background: #f6c737;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
        padding: 3px 6px;
        line-height: 1;
    }
    h1 {
        text-align: center;
        width: 100%;
        margin: 1.5em auto 0;
        font-size: 2.4rem;
        color: #000;
        font-weight: 550;
    }
    strong{
        font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 550;
        margin-bottom: 15px;
    }
    ul {
        display: block;
        list-style: circle;
        color: #000000;
    }
    ul li, ol li{
        line-height: 28px;
        color: #000000;
    }
    h1.postheading:after {
        content: '';
        clear: both;
        display: block;
        border: 2px solid #f6c737;
        margin: 15px auto;
        width: 8%;
    }
    .blog-item h2:after,
    .blog-item h3:after {
        content: '';
        clear: both;
        display: block;
        border: 2px solid #f6c737;
        margin-top: 10px;
        width: 5%;
    }
</style>
<section class="book-table p-3m">
    <div class="wrapperz">
        <div class="row">
            <div class="cols col-12 text-center">
                <h2 class="section-title">
                    <span class="side-img left-side-img"><i></i><i></i><i></i></span>
                    News
                    <span class="side-img right-side-img"><i></i><i></i><i></i></span>
                </h2>
                <p>Read about us in News.</p>
            </div>
        </div>
        <div><br></div>
        <div class="blog-items">
            <div class="blog-item">
                <h1 class="postheading">&ldquo;Let food be thy medicine, thy medicine shall be thy food.&rdquo; </h1>
                <br />
                <h3>Indian Food and Health Benefits</h3>
                <p>Rich in taste, texture and satisfying, Indian food, or at least that part of Indian food that is
                    prepared with minimal oil and healthy cooking methods, is often considered one of the healthiest
                    cuisines in the world.</p>
                <p>Many of the herbs and spices used in the preparation of Indian cuisine are very beneficial to your
                    health.</p>
                <h3>Indian Spices Linked to Health Benefits:</h3>
                <p>Turmeric is not only an important spice used in all Indian dishes, but it also adds colour and
                    flavour to the dish. Turmeric has many healing properties. Researchers have shown that Turmeric,
                    known in India as haldi, contains a component curcumin, which may help reduce inflammation and ease
                    symptoms of osteoarthritis and rheumatoid arthritis.</p>
                <p>It is believed to be an antioxidant, and is also known to reduce cholesterol and high blood pressure.
                    It can increase blood circulation and reduce the risk of heart attack. Researchers have suggested
                    that turmeric could also play a role in slowing down the progression of Alzheimer&rsquo;s disease.
                </p>
                <p>The healing powers of turmeric are plentiful.</p>
                <p><strong>Curry leaves</strong> can help reduce weight and wash out all toxins and fats from your body.
                    Fat deposits in your body starts cutting down gradually with the daily intake of curry leaves. Curry
                    leaves are also good for your hair, and can help hair growth and prevent premature greying of hair.
                </p>
                <p><strong>Indian Curries</strong> are roasted whole spices that give a unique flavour and mouth
                    watering aroma to Indian foods. Cooked with less oil, and yogurt or natural coconut milk instead of
                    cream, makes this a tasty dish for the health conscience.</p>
                <p><strong>Cumin</strong> has been praised not only as a terrific source of iron, but also for its
                    potential to prevent cancer. Further health benefits of cumin include its ability to aid in
                    digestion, improve immunity, treat insomnia, respiratory disorders, asthma, bronchitis, the common
                    cold, anaemia, skin disorders, and more.</p>
                <p><strong>Coriander</strong> is known for its anti-inflammatory properties and has undergone studies
                    for its possible connection to cholesterol reduction. This spice is a good source of dietary fibre,
                    iron, and magnesium.</p>
                <p><strong>Cayenne pepper</strong> offers spicier flavour to Indian stir fries and is an immune-boosting
                    spice that can cure several common ailments. Cayenne has the ability to ease upset stomach, ulcers,
                    sore throats, coughs and diarrhoea. The Indian curry&rsquo;s base is crucial. The oil isn&rsquo;t.
                    Most curry recipes call for plenty of oil, which immediately puts off those of us who are trying to
                    control our daily fats intake. Ideally, blend or roast whole spices for better flavour without using
                    unhealthy ingredients. Replace the cream with yogurt, or natural coconut milk and use a healthy
                    cooking method for it and you are good to Indian curry&rsquo;s base is crucial. The oil isn&rsquo;t.
                    Most curry recipes call for plenty of oil, which immediately puts off those of us who are trying to
                    control our daily fats intake. Ideally, blend or roast whole spices for better flavour without using
                    unhealthy ingredients. Replace the cream with yogurt, or natural coconut milk and use a healthy
                    cooking method for it and you</p>
                <p><strong>Cardamom</strong>, also known as elaichi is a very flavour filled Indian spice, rich in
                    flavour and aroma, and used in both main dishes and desserts. Cardamom is very good for your health.
                    It can increase metabolism and improve digestion which is beneficial for weight loss.<br />It is
                    also known to ease symptoms of halitosis, oral disorders, urinary problems, and can contribute to
                    cancer prevention. It also offers anti-aging properties because it contains an abundance of
                    antioxidants.</p>
                <p><strong>Cardamom oils</strong> can be added to baths as a form of aromatherapy that fights depression
                    and reduces stress. Ground cardamom seeds can be made into a tea for similar benefits.</p>
                <p><strong>Chilies</strong> are popular in Indian dishes, and are a very good herb to help burn fat,
                    improve metabolism and also assist in weight loss . Red chilies have amazing health benefits. They
                    contain capsaicin, the chemical compound that has anti-bacterial, analgesic and anti-diabetic
                    properties. Chilies are associated with relieving pain, reducing congestion and increasing
                    cardiovascular health. They have been known to prevent stomach ulcers.</p>
                <p>They are rich in vitamins A, B and C.</p>
                <p><strong>Garlic</strong> possesses anti-bacterial properties that reduce cholesterol and fat, and it
                    contains antioxidants. It is known to boost the function of the immune system and combat sickness
                    like the common cold. It improves cholesterol levels which can lower the risk of heart disease, and
                    may reduce high blood pressure. Eating garlic can help detoxify heavy metals in the body. It is very
                    delicious and easy to include in any diet. Rich in taste, texture and satisfying, Indian food, or at
                    least that part of Indian food that is prepared with minimal oil and healthy cooking methods, is
                    often considered one of the healthiest cuisines in the world.</p>
                <p><strong>Dals</strong> or Pulses are a very good source of vitamins and minerals. They are rich in
                    Vitamin A, B, C and E and minerals like calcium, iron and potassium. They are also a good source of
                    amino acids.<br />Dals are even more beneficial when cooked with other vegetables and a moderate
                    amount of oil.<br />Pulses are rich in protein and dietary fibre which helps keep blood sugar and
                    cholesterol levels under control, and helps with digestion.</p>
                <p><strong>Paneer</strong> The soft taste of paneer is low on calories when it is made with milk instead
                    of cream. Paneer made from milk is very rich in proteins and calcium. Studies have shown that paneer
                    prevents osteoporosis. One fabulous combination of tasty and healthy.</p>
                <p><strong>Curd</strong> is made from fermented milk with live bacteria. Curd is a great ingredient for
                    weight loss and it promotes good digestion. Curd can also be used in some dishes in place of cream
                    for a special creamy texture.</p>
                <h3>Indian Food Dishes that Can Help Your Waistline</h3>
                <p><strong>Idly</strong> is made from fermented rice and a dal mixture that is prepared by steaming.
                    Idly is a rich source of carbs and protein, and because it is low in fat, it is also easily
                    digestible.</p>
                <p><strong>Dhokla</strong> is another fermented and steamed dish. Dhoklas are made from fermented dal
                    and are known to be good for diabetic patients. Being steamed instead of fried, they contain no oil
                    which makes them low on calories, and dal is high in proteins and fibre.</p>
                <p>So you see, Indian foods are not only tasty, they are chalked full of healthy spices that offer
                    terrific health benefits.</p>
                <p>The next time you crave delicious and authentic Indian Cuisine, you can eat in or dine out at Golden
                    Turmeric Restaurant in Taunton (Somerset) area.</p>
                <p>Indian Food may very well be the spice of life!</p>
                <h3>Research Sources</h3>
                <ul>
                    <li>Davidson, Alan. The Oxford Companion to Food. Oxford: Oxford UP, 1999. Print.</li>
                    <li>&ldquo;First Curry Powder Advert.&rdquo; First Curry Powder Advert. British Library Board, n.d.
                        Web. 09 Feb. 2015.</li>
                    <li>Prance, Ghillean T., and Mark Nesbitt. The Cultural History of Plants. New York.: Routledge,
                        2005. Print.</li>
                    <li>Ravindran, P. N., K. Nirmal Babu, and K. Sivaraman. Turmeric: The Genus Curcuma. Boca Raton, FL:
                        CRC, 2007. Print.</li>
                    <li>Saberi, Helen, and Colleen Taylor Sen. Turmeric: Great Recipes Featuring the Wonder Spice That
                        Fights Inflammation and Protects Against Disease. Chicago: Agate Digital, 2014.</li>
                </ul>

            </div>

        </div>
    </div>
</section>