<aside id="catbar" class="cols col-3 sidebar addheight">
        <div class="sticky">
            <span id="closecat" class="close-cat"><span class="icon-close"></span></span>
            <h3>Categories</h3>
            <ul>
                <li><a href="my-account.html">Orders</a></li>
                <li><a href="past-orders.html">Past Orders</a></li>
                <li class="active"><a href ng-click="ChangePage('myprofile');">Profile</a></li>
                <li><a href ng-click="ChangePage('myrewards');">Rewards</a></li>
                <li><a href="#0">Track Orders</a></li>
            </ul>
        </div>
    </aside>