<section class="content myaccount-page trackorder">

        <div class="hidden-menu">

            <ul>

                <li><button id="show-cat" type="button" class="menubtn left">Sidebar</button></li>

            </ul>

        </div>

        <div id="content_wrapper" class="wrapperz" style="padding: 1.5em 0;margin-bottom: 2em;">

        <div class="row">

            <aside id="catbar" class="cols col-3 sidebar addheight">

                <div class="sticky">

                    <span id="closecat" class="close-cat"><span class="icon-close"></span></span>

                    <h3>Categories</h3>

                    <ul>

                            <li class="active"><a href ng-click="getRecentOrders();">Orders</a></li>

                            <!-- <li><a href="past-orders.html">Past Orders</a></li> -->

                            <li><a href ng-click="ChangePage('myprofile');">Profile</a></li>

                            <li><a href ng-click="ChangePage('myrewards');">Rewards</a></li>

                            <li><a href ng-click="getMyAddresses();">Addresses</a></li>

                        </ul>

                    </ul>

                </div>

            </aside>

            <div class="cols col-9  content shopping-cart addheight ">

                <div class="row" ng-if="!recentOderStatus">

                    <div class="cols col-12">

                        <div class="time-clock">

                            <div class="clock-icon">

                                <img src="assets/images/wall-clock.svg" alt="">

                            </div>

                            <div class="clock-text">                                

                                    <h4 ng-bind="orderDeliveryRemaingHours + ':' + orderDeliveryRemaingMinutes + ' minutes remaining'" style="font-family: 'Hind Vadodara', sans-serif;"></h4>

                                    <p ng-if="recentordersdeliveryfieldShow">Your Order will be ready to Deliver by {{ExpectedDeliveryTime}}</p>

                                    <p ng-if="!recentordersdeliveryfieldShow">Your Order will be ready to Pickup by {{ExpectedDeliveryTime}}</p>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row" ng-if="!recentOderStatus">

                    <div class="cols col-12">

                        <ul id="progressbar" >

                            <li class="" id="placed">

                                Order Placed

                                <!-- <p>We have Received your Order</p> -->

                            </li>

                            <li class="" id="confirmed">

                                Order accepted

                                <!-- <p>Your Order is Confirmed</p> -->

                            </li>

                            <li class ="" id="process">

                                Order being prepared

                                <!-- <p>We are preparing your Order</p> -->

                            </li>

                            <li class ="" id="completed" ng-if="recentordersdeliveryfieldShow">

                                Ready To Deliver

                                <!-- <p>Your order is ready to deliver</p> -->

                            </li>

                            <li class ="" id="completed" ng-if="!recentordersdeliveryfieldShow">

                                Ready To Pickup

                                <!-- <p>Your order is ready to Pickup</p> -->

                            </li>

                            <li class ="" id="onway" ng-if="recentordersdeliveryfieldShow">

                                On the way

                                <!-- <p>Your order is ready to Pickup</p> -->

                            </li>

                        </ul>

                    </div>

                </div>



                <table id="customers">

                    <thead>

                        <tr>

                            <th>Product</th>

                            <th class="numb_cols">Price</th>

                            <th class="numb_cols">Quantity</th>

                            <th class="numb_cols">Total</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr ng-repeat="rd in recentOrdersDetails" style="

                        font-size: 14px;font-family: 'Hind Vadodara', sans-serif; ">

                            <td ng-if="FilterSimpleProducts(rd);">

                                {{rd.MenuItem}}

                            </td>

                            <td ng-if="FilterModifierProducts(rd);">

                                <!-- <span class="icon-times-circle remove-product"></span> -->

                                *{{rd.MenuItem}}

                            </td>

                            <td class="numb_cols">£{{rd.price | number:2}}</td>

                            <td class="numb_cols">

                                <input class="qty" type="text" value="{{rd.quantity}}" min="1" readonly>

                            </td>

                            <td class="numb_cols">£{{rd.price * rd.quantity | number:2}}</td>

                        </tr>

                        <!-- <tr>

                            <td>

                                Dingo Dog Bones

                            </td>

                            <td class="numb_cols">12.99</td>

                            <td class="numb_cols">

                                <input class="qty" type="text" value="2" min="1">

                            </td>

                            <td class="numb_cols">25.98</td>

                        </tr>

                        <tr>

                            <td>

                                Dingo Dog Bones

                            </td>

                            <td class="numb_cols">12.99</td>

                            <td class="numb_cols">

                                <input class="qty" type="text" value="2" min="1">

                            </td>

                            <td class="numb_cols">25.98</td>

                        </tr> -->

                        <!-- ng-repeat="recent in recentOrders | filter: {Recvorder_InvoiceNo: OrderID}" -->

                        <tr class="total_row">

                            <td style="vertical-align: top;border: 0;font-family: 'Hind Vadodara', sans-serif;font-size: 14px;">

                                    <a href style="margin-top: 35px;">{{recentordercomments}}</a>

                            </td>

                            <td colspan="3" class="padding-no">                                    

                                <table id="totals"  style="font-family: 'Hind Vadodara', sans-serif;font-size: 14px;">

                                    <tbody>

                                        <tr>

                                            <td class="right_cols text-left">Subtotal</td>

                                            <td class="numb_cols text-center">£{{TotalProductsAmount | number:2}}</td>

                                        </tr>

                                        <!-- <tr>

                                            <td class="right_cols text-left"> {{VatType}} ( {{S_VAT}}%) </td>

                                            <td class="numb_cols text-center"> £{{OnlineTax | number:2}} </td>

                                        </tr> -->

                                        <tr ng-show="recentordersdeliveryfieldShow">

                                            <td class="right_cols text-left">Delivery Charges</td>

                                            <td class="numb_cols text-center">£{{recentordersdeliverycharges | number:2}}</td>

                                        </tr>

                                        <tr>

                                            <td class="right_cols text-left">Coupon</td>

                                            <td class="numb_cols text-center">£{{couponDiscount | number:2}}</td>

                                        </tr>

                                        <tr>

                                            <td class="right_cols text-left">Grand Total</td>

                                            <td class="numb_cols text-center">£{{totalAmountOfRecentOrder | number:2}}</td>

                                        </tr>

                                    </tbody>

                                </table>

                            </td>

                        </tr>

                    </tbody>

                </table> 

                <div class="row" ng-if="recentOderStatus">

                    <div class="cols col-12 submit-btn">

                        <button type="submit" class="btn green-btn" ng-click="ReOrder();"> Reorder </button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
