<section class="content">
    <div id="content_wrapper" class="wrapperz">
      <div class="row">
        <div class="cols col-12 login">
          <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Please Sign in</h4>
            <form>
              <div class="inner_wrapper">
                <div class="form_wrapper">
                  <div class="form_inner_wrapper first-child" 
                    ng-style="'margin-right': !isGuestModule || (Products.length && (getTotalBill() >= MinOrderAmount || OrderTypeVar !== 'Delivery')) ? 'none' : '', 'box-shadow': !isGuestModule || !(Products.length && (getTotalBill() >= MinOrderAmount || OrderTypeVar !== 'Delivery')) ? 'none' : ''">
                    <div id="mydivz" style="color:#f00; text-align:center; padding:5px; font-size:12px;margin-bottom: 10px;" ng-show="loginError.length > 0">
                      loginError
                    </div>
                    <div class="input_wrapper">
                      <h5>Returning Customer</h5>
                    </div>
                    <div class="input_wrapper">
                      <input name="phone" class="form-control" placeholder="Your Phone Number" ng-model="username"  type="text" maxlength="12" ng-required="true" required="required">
                    </div>
                    <div class="input_wrapper">
                      <input name="password" class="form-control" ng-model="password"  placeholder="Password" type="password" maxlength="12" ng-required="true" required="required">
                    </div>
                    <div class="input_wrapper">
                      <div class="row">
                        <div class="cols col-6" style="padding-left: 0; padding-right: 0;">
                          <p class="actions">
                            <a href="" ng-click="ChangePage('reset-password')">Forget password? </a>
                          </p>
                          <p class="actions">
                            Don't have an account?
                            <br />
                            <a href="" ng-click="ChangePage('signup')">Sign up</a>
                          </p>
                        </div>
                        <div class="cols col-6 btn-wrapper" style="padding-left: 0; padding-right: 0;">
                          <button type="submit" ng-click="UserLogin(username,password)" ng-disabled="SignInForm.$invalid" class="btn green-btn">Sign In</button>
                        </div>
                      </div>
                      <div class="hide-desktop" ng-show="isGuestModule && Products.length && (getTotalBill() >= MinOrderAmount || OrderTypeVar !== 'Delivery')">
                        <div class="row">
                          <div class="cols col-12 text-center">
                            <p>or</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="cols col-12 btn-wrapper" style="margin-top: 0">
                            <button ng-click="ChangePage('checkout-details')"
                              ng-disabled="!Products.length && !(getTotalBill() >= MinOrderAmount || OrderTypeVar !== 'Delivery')" class="btn btn-outline green">Continue as Guest</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_wrapper" ng-show="isGuestModule && Products.length && (getTotalBill() >= MinOrderAmount || OrderTypeVar !== 'Delivery')">
                  <div class="form_inner_wrapper second-child">
                    <h4>Guest Checkout</h4>
                    <p>Proceed to checkout as a guest.</p>
                    <div class="input_wrapper">
                      <div class="row">
                        <div class="cols col-5" style="padding-left: 0; padding-right: 0;">
                          .
                        </div>
                        <div class="cols col-7 btn-wrapper" style="padding-left: 0; padding-right: 30px; margin-top: 0">
                          <button ng-click="ChangePage('checkout-details')"
                            ng-disabled="!Products.length && !(getTotalBill() >= MinOrderAmount || OrderTypeVar !== 'Delivery')" class="btn green-btn" style="width: 100%;">Continue as Guest</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="clearfix"></div>
          </article>
        </div>
      </div>
    </div>
  </section>