.my-custom-input {
    width: 90%;
    margin-left: 5%;
    font-size: 40px;
    margin-bottom: 5%;
    border-radius: 10px;
}

.margin-left {
    margin-left: 5%;
    margin-bottom: 10%;
}

.text-label {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    padding: 12% 20% 12% 20%;
}

h4, h5 {
    color: #000;
}

@media only screen and (max-width: 768px) {
    [class*="custom-col cols col-"] {
        width: 33.33% !important;
    }

    .my-custom-input {
        font-size: 27px;
    }
}

/* style added by Yaser 15-02-2020 */
.white-popup h3 {
    text-align: center;
}

.button_wrapper {
    margin: 13px 0;
}

.popup-btn {
    /* border: 2px solid #908d8d;
    color: #908d8d; */
    margin: 5px auto;
    width: 100%;
    font-weight: bold;
}

.popup-btn:hover,
.popup-btn:focus {
    border-color: #002366 !important;
    color: #002366 !important;
}

/* changes done on 29-01-2021 */
.content .wrapperz {
    box-shadow: unset;
    border-radius: unset;
    position: relative;
    padding: 20px;
}
.login {
    padding: 10px 0;
    text-align: center;
}
.inner_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_inner_wrapper {
    display: flex;
    flex-direction: column;
    width: 420px;
    border: 0px solid;
    min-height: 350px;
    align-items: self-start;
    justify-content: center;
    text-align: left;
    box-shadow: none;
}
.form_inner_wrapper.first-child{
    margin-right: 20px;
    box-shadow: 7px 0 10px -8px #888;
    padding: 0 25px;
}
.form_inner_wrapper .form-control {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    padding: 10px;
    line-height: 1;
    font-size: 16px;
}
.form_inner_wrapper .input_wrapper {
    width: 95%;
    margin: 5px auto;
}

.form_inner_wrapper .actions{
    font-family: 'Hind Vadodara', sans-serif;
    color:black;
    font-size: 14px;
}
.form_inner_wrapper .btn {
    width: 70%;
    padding: 8px 25px;
    font-size: 16px;
}
.form_inner_wrapper.second-child {
    justify-content: flex-start;
    padding-top: 64px;
    padding-left: 25px;
}
.form_inner_wrapper.second-child .btn{
    margin-top: 58px;
}
.btn-wrapper {
    text-align: right;
}
.hide-desktop{
    display: none;
}

.btn-outline {
    background: transparent !important;
    border: 2px solid #44c767 !important;
    font-weight: bold;
}
.btn-outline.green{
    color: #44c767 !important;
}
@media only screen and (max-width: 600px) {
    .inner_wrapper {
        flex-direction: column;
    }
    .form_inner_wrapper {
        width: 100%;
        min-height: unset;
    }
    .form_inner_wrapper.first-child {
        margin-right: 0;
        box-shadow: none;
    }
    
    .btn-wrapper {
        text-align: center;
        margin: 10px 0;
    }
    .form_inner_wrapper .input_wrapper {
        width: 100%;
    }
    .second-child{
        display: none;
    }
    .hide-desktop{
        display: block;
    }
}