<!DOCTYPE html>

<html lang="en" ng-app="myApp">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Service unavailable - Please contact us at</title>
    <script src="../BusinessConfig.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:400,600,700">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="main.js"></script>

    <!-- Scripts -->

    <script src="../js/jquery-2.1.4.js"></script>

    <link rel="stylesheet" href="css/style.css">

</head>

<body  ng-controller="accountExpired">

    <img src="{{restaurant.LogoPath + restaurant[0].CompIcon}}" alt="JeM Point of Sale">

    <div class="content-wrapper">

        <h2>Service Unavailable</h2>

        <p class="contact">Please contact us at {{restaurant[0].RestName}}</p>

        <ul class="contact-details">

                <li><a href="mailto:{{restaurant[0].CompEmail}}" target="_top"><span class="icon-wrapper"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span class="contact-text">{{restaurant[0].CompEmail}}</span></a></li>



            <!-- <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span> {{restaurant[0].CompEmail}}</li> -->

            <li ng-if="restaurant[0].CompPhone.length > 0"><a href="tel:{{restaurant[0].CompPhone}}"><span class="icon-wrapper"><i class="fa fa-phone" aria-hidden="true"></i></span> <span class="contact-text">{{restaurant[0].CompPhone}}</span></a></li>



            <!-- <li ng-if="restaurant[0].CompPhone.length > 0"><span><i class="fa fa-phone" aria-hidden="true"></i></span> {{restaurant[0].CompPhone}}</li> -->

        </ul>

    </div>

    <p>Powered by JeM Point of Sale</p>

</body>

</html>