<app-cart-filter (CartItemsEmit)="onloadPage($event)"></app-cart-filter>

<div class="page-wrapper">
    <div class="top-links">
        <div class="container">
            <ul class="row links">
                <li class="col-xs-12 col-sm-3 link-item active"><span>1</span><a routerLink="/">Choose Your Location</a></li>
                <li class="col-xs-12 col-sm-3 link-item active"><span>2</span><a routerLink="/products">Pick Your favorite food</a></li>
                <li class="col-xs-12 col-sm-3 link-item" routerLinkActive="active"><span>3</span><a routerLink="/checkout">Order and Pay online</a></li>
            </ul>
        </div>
    </div>
    <div class="container m-t-30">
        <div class="widget clearfix">
            <!-- /widget heading -->
            <div class="widget-heading">
                <h3 class="widget-title text-dark">
                                Cart summary
                            </h3>
                <div class="clearfix"></div>
            </div>
            <div class="widget-body">
                <form method="post" action="#">
                    <div class="row">
                        <div class="col-sm-6 margin-b-30">
                            <div class="card p-1" *ngIf="CartInputs.orderType == 'Delivery'">
                              <div class="card-title">
                                <div>
                                    <span>Delivery</span>
                                    <span class="pull-right"><a routerLink="/user/addresses"><i class="fa fa-plus"></i> Add address</a></span>
                                </div>
                             </div>
                              <div class="card-body p-1"  [ngStyle]="{'border': (selectedAddress === address.addressId) ? '1px solid #f30' : ''}" style="overflow: auto;" *ngFor="let address of addressList;index as i;">
                                <div class="col-sm-10">
                                    <label class="custom-control custom-radio">
                                        <input id="mixed-{{i+1}}" name="cat" type="radio" class="custom-control-input" value="{{i+1}}" (change)="onAddressSelection(address.addressId)">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description text-color">
                                        <strong>{{address.addressType}}</strong>
                                        <p>{{address.addressLine1}}</p>
                                      </span>
                                    </label>
                                </div>
                              </div>
                            </div>
                            
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of CartInputs.products">
                                            <td>{{order.productName}}
                                                <ul>
                                                    <li *ngFor="let selection of order.selectionChoices"> - {{selection.choiceName}}</li>
                                                </ul>
                                            </td>
                                            <td>{{order.quantity}}</td>
                                            <td>${{order.productDeliveryPrice}}</td>
                                            <td>${{order.quantity*order.productDeliveryPrice}}</td>
                                        </tr>
                                    </tbody>
                                  </table>
                                  
                          </div>
                        <div class="col-sm-6">
                            <div class="cart-totals margin-b-20">
                                <div class="cart-totals-title">
                                    <h4>Cart Summary</h4> </div>
                                <div class="cart-totals-fields">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Cart Subtotal</td>
                                                <td>{{CartInputs.totalAmount | mycurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td>VAT</td>
                                                <td>{{CartInputs.vat | mycurrency}}</td>
                                            </tr>
                                            <tr *ngIf="CartInputs.orderType == 'Delivery'">
                                                <td>Delivery</td>
                                                <td>{{CartInputs.deliveryCharges | mycurrency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-color"><strong>Total</strong></td>
                                                <td class="text-color"><strong>{{CartInputs.totalAmountInclVatDelivery | mycurrency}}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--cart summary-->
                            <div class="payment-option">
                                <ul class=" list-unstyled">
                                    <li>
                                        <label class="custom-control custom-radio  m-b-20">
                                            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Payment on delivery</span>
                                            <br> <span>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span> </label>
                                    </li>
                                    <li>
                                        <label class="custom-control custom-radio  m-b-10">
                                            <input name="radio-stacked" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Paypal <img src="images/paypal.jpg" alt="" width="90"></span> </label>
                                    </li>
                                </ul>
                                <p class="text-xs-center"> <a  (click)="onCheckoutClick()" class="btn btn-outline-success btn-block">Pay now</a> </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>