<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <!-- for local -->
    <base href="https://localhost/chris/order/" /> 
    <!-- <base href="/" /> -->
    <!-- for live -->
    <!-- <base href="http://devordering.jempos.co.uk/order/" />  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Turmeric Kitchen @ 65" />
    <meta property="og:description" content="we have the highly qualified and experienced chefs that ensure that the quality of food served to the guests is up to the standards to uphold the market reputation that we have against other places. Our skilled chefs have the most vivid knowledge about cooking the best traditional south Indian food by bringing in the customary ways and techniques to prepare the scrumptious meals." />
    <meta property="og:image" content="https://turmerickitchen65.co.uk/images/ogImage.jpg"/>
    <title ng-bind="restaurantObject.restaurantName"></title>
    
    <!-- Styles -->
    <!-- <script src="BusinessConfig.js"></script> -->
    <script>		    
    //	redirectIntegration();
    </script>
    <link rel="stylesheet" href=" accordion-menu/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href=" accordion-menu/css/style.css"> <!-- Resource style -->
    <script src=" accordion-menu/js/modernizr.js"></script>
    <!--Modernizr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href=" accordion-menu/popup/magnific-popup.min.css">
    <link rel="stylesheet" href=" accordion-menu/popup/popup-style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="accordion-menu/popup/popup-style.css">
    <link rel="stylesheet" href="accordion-menu/css/custom.css?ver=987cde">
    <link rel="stylesheet" href="css/loader.css?ver="{{testrand}} >
    <!-- Scripts -->
    <script type="text/javascript" src="all.min.js"></script>

    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- <link rel="stylesheet" href=" css/main.css">
    <link rel="stylesheet" href=" css/custom.css">
    <link rel="stylesheet" href=" css/inline.css">
    <link rel="stylesheet" href=" css/new-updates.css"> -->
    
    <!-- <link rel="stylesheet" href="css/style.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/new-nav.css">

    <script>
        function socialMedia(url) {
            var landingUrl = url;
            //$window.location.href = landingUrl;
            //		  window.location = landingUrl;
        }

        function WebRedirect(link) {
            var landingUrl = link;
            window.location.replace("http://"+landingUrl);
            //		  $window.location.href = landingUrl;
            //		  window.location = landingUrl;
            }
        
        function JeMWeb() {
            var landingUrl = 'https://jempos.co.uk';
            window.location.replace(landingUrl);
            //		  $window.location.href = landingUrl;
            //		  window.location = landingUrl;
            }
            // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };
        
        function scrollFunction() {
            if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
            }
            // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
            }
            // alert(typeof window.orientation);
    </script>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
    <script>
        function load() {
            var el = document.getElementById("notificaiton");
            el.classList.remove("height");
        }
        
        function myFunction() {
            var element = document.getElementById("notificaiton");
            element.classList.add("move_out");
        }
    </script>
    <script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if(scroll >= 100) {
            $(".notificaiton").addClass("fixed");
            } else {
            $(".notificaiton").removeClass("fixed");
            }
        });
    </script>


    <!-- table order pop up css -->
    <style>
        .my-custom-input {
            width: 90%;
            margin-left: 5%;
            font-size: 40px;
            margin-bottom: 5%;
            border-radius: 10px;
        }

        .margin-left {
            margin-left: 5%;
            margin-bottom: 10%;
        }

        .text-label {
            background-color: #000;
            border-radius: 10px;
            color: #fff;
            padding: 12% 20% 12% 20%;
        }

        @media only screen and (max-width: 768px) {
            [class*="custom-col cols col-"] {
                width: 33.33% !important;
            }

            .my-custom-input {
                font-size: 27px;
            }
        }

        /* style added by Yaser 15-02-2020 */
        .white-popup h3 {
            text-align: center;
        }
        .button_wrapper {
            margin: 13px 0;
        }

        .popup-btn {
            border: 2px solid #908d8d;
            color: #908d8d;
            margin: 5px auto;
            width: 100%;
            font-weight: bold;
        }

        .popup-btn:hover,
        .popup-btn:focus {
            border-color: #f37522 !important;
            color: #fff !important;
        }
        /* calculator css */
        
        .calculator {
        padding: 20px;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 1px;
        }

        .calculator .input {
        border: 1px solid #ddd;
        border-radius: 1px;
        height: 60px;
        padding-right: 15px;
        padding-top: 10px;
        text-align: center;
        /* margin-right: 6px; */
        font-size: 2.5rem;
        overflow-x: auto;
        transition: all .2s ease-in-out;
        width: 98.5%;
        }

        .calculator .input:hover {
        border: 1px solid #bbb;
        -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        }

        .calculator .buttons {text-align: center;}

        .calculator .operators {}

        .calculator .operators div {
        display: inline-block;
        border: 1px solid #bbb;
        border-radius: 1px;
        width: 80px;
        text-align: center;
        padding: 10px;
        margin: 20px 4px 10px 0;
        cursor: pointer;
        background-color: #ddd;
        transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
        }

        .calculator .operators div:hover {
        background-color: #ddd;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-color: #aaa;
        }

        .calculator .operators div:active {
        font-weight: bold;
        }

        .calculator .leftPanel {
        display: inline-block;
        }

        .calculator .numbers div {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 1px;
        width: 80px;
        text-align: center;
        padding: 23px 10px;
        font-size: 20px;
        margin: 10px 4px 0 0;
        cursor: pointer;
        background-color: #f9f9f9;
        transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
        }

        .calculator .numbers div:hover {
        background-color: #f1f1f1;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-color: #bbb;
        }

        .calculator .numbers div:active {
        font-weight: bold;
        }

        .calculator div.equal {
        display: inline-block;
        border: 1px solid #f37522;
        border-radius: 1px;
        width: 17%;
        text-align: center;
        padding: 96px 10px;
        margin: 10px 6px 10px 0;
        vertical-align: top;
        cursor: pointer;
        color: #FFF;
        background-color: #f37522;
        transition: all .2s ease-in-out;
        font-size: 28px;
        line-height: 1;
        }

        .calculator div.equal:hover {
        background-color: #307CF9;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-color: #1857BB;
        }

        .calculator div.equal:active {
        font-weight: bold;
        }
        .calculator .ok-btn{
        background-color: #f37522 !important;
        border-color: #f77219;
        color: #FFFFFF;
        }
        .calculator .ok-btn:hover{
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        background-color: #f77219 !important;
        border-color: #f77219;
        }
    </style>
</head>

<body ng-controller="IndexPageController">

    <!-- table order pop up html -->
    <div id="popup-options" style="width: 300px" class="white-popup mfp-with-anim mfp-hide selectionProductfont"
        ng-show="showSelectionModifierPopup">
        <h3>Please Select</h3>
        <div class="row">
            <div class="cols col-12">
                <div class="button_wrapper">
                    <button ng-if="isOptionAvailable('deliveryOrder')" type="button" class="slider-btn popup-btn" ng-click="selectedOrderType('Delivery')">Delivery Order</button>
                    <button ng-if="isOptionAvailable('collectionOrder')" type="button" class="slider-btn popup-btn" ng-click="selectedOrderType('Collection')">Collection Order</button>
                    <button ng-if="isOptionAvailable('tableOrder')" type="button" ng-click="openTableOrder();" class="slider-btn popup-btn">Table Order</button>
                </div>
            </div>
        </div>
    </div>

    <!-- table order pop up html -->
    <div id="test-popup-table" style="width: 390px" class="white-popup mfp-with-anim mfp-hide selectionProductfont"
        ng-show="showSelectionModifierPopup">
        <h3>Enter Table No.</h3>
        <div class="calculator">
            <div style="text-align: center; color: red; margin-bottom: 1%;">
                {{tableNoError}}
            </div>
            <input type="text" 
            onkeypress="return false;"
            ondrop="return false;" onpaste="return false;"
            class="input" value="{{tableNo}}">
            <div class="buttons">
                <!-- <div class="operators">
                    <div>+</div>
                    <div>-</div>
                    <div>&times;</div>
                    <div>&divide;</div>
                </div> -->
                <div class="leftPanel">
                    <div class="numbers">
                        <div ng-click="setTableNo('7')">7</div>
                        <div ng-click="setTableNo('8')">8</div>
                        <div ng-click="setTableNo('9')">9</div>
                        <div ng-click="removeSingleChar()">&#x2190;</div>
                    </div>
                    <div class="numbers">
                        <div ng-click="setTableNo('4')">4</div>
                        <div ng-click="setTableNo('5')">5</div>
                        <div ng-click="setTableNo('6')">6</div>
                        <div ng-click="setTableNo('0')">0</div>
                    </div>
                    <div class="numbers">
                        <div ng-click="setTableNo('1')">1</div>
                        <div ng-click="setTableNo('2')">2</div>
                        <div ng-click="setTableNo('3')">3</div>
                        <div class="ok-btn" ng-click="selectedOrderType('TableOrder')">OK</div>
                    </div>
                    <!-- <div class="numbers">
                        <div>0</div>
                        <div>--</div>
                        <div id="clear">C</div>
                    </div> -->
                </div>
                <!-- <div class="equal" id="result">&#x2190;</div> -->
            </div>
        </div>
        <!-- <input class="my-custom-input" name="tableNo" placeholder="Please enter your Table No."/>
    <p>
        <div class="row margin-left">
            <div class="custom-col cols col-4">
                <span class="text-label">1</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">2</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">3</span>
            </div>
        </div>

        <div class="row margin-left">
            <div class="custom-col cols col-4">
                <span class="text-label">4</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">5</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">6</span>
            </div>
        </div>

        <div class="row margin-left">
            <div class="custom-col cols col-4">
                <span class="text-label">7</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">8</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">9</span>
            </div>
        </div>

        <div class="row margin-left">
            <div class="custom-col cols col-4">
                <span class="text-label">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">0</span>
            </div>
            <div class="custom-col cols col-4">
                <span class="text-label">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </p> -->
    </div>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div ng-init="EnableDiscountBar();" id="notificaiton" class="notificaiton height" style="background: #f6c737;" ng-repeat= "sdiscount in specialDiscount" ng-if="sdiscount.isCouponActive && discountbar">
        <div class="container" >
            <p>{{sdiscount.message}} use <span class="bold-text">{{sdiscount.couponCode}}</span> get <span class="bold-text">{{sdiscount.discount}}% Discount</span></p>
            <!-- onclick="myFunction()"  -->
        <button type="button" class="close" id="close_notificaiton" ng-click="closeDiscountBar();">
            <span aria-hidden="true" style="font-size:20px">×</span>
        </button>
        </div>
    </div>


    <!-- Loader Divs -->
    <div id="overlay">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <!-- <div id="loader"></div> -->
    </div>
    <div class="views">
            <!-- || (Pages.currentPage == '/checkout-details') -->
        <div class="mobile sticky-cart-bar">
            <button class="mobile-cart-btn" ng-if="(cartProducts.numberOfProducts != 0)" ng-click="viewMobileCart();" id="showCart" >
                <span class="cart-icon">
                    <span class="qty ng-binding" ng-bind="(cartProducts.numberOfProducts)"></span>
                    <i class="fa fa-cart-plus"></i>
                </span>
                <span>View Cart</span>
                <!-- <span ng-bind="(restaurantObject.Currency) + (cartProducts.totalAmount | number:2) + ' (' + (cartProducts.numberOfProducts) +')'"></span> -->

                <span ng-bind="(restaurantObject.Currency) + (cartProducts.totalAmount | number:2)"></span>
            </button>
        </div>
        <div id="mCartbar" class="mobile-cart">
            <div class="mobile-cart-bar text-right">
                <span id="closeCart" class="closemMenu"><img src="images/close.svg" alt=""></span>
                <!-- <span id="closeCart" class="close-cart"><i class="fa fa-times-circle" aria-hidden="true"></i></span> -->
            </div>
            <div class="mcart-details">
                <div class="message2">
                    <p>You or someone you're ordering for has a food allergy or intolerance <a class="inlinelink" ng-click="openAllergyPopup();">Click here</a></p>
                    <br>
                    <p> We're open today from {{RestaurtantTime.openTime}} - {{RestaurtantTime.closeTime}}</p>
                </div>
                <div class="mcart">
                    <div class=" options two">
                        <form>
                            <ul>
                                <li style="color: #000;font-weight: 600;width: 100%;">
                                    {{ getOrderType(); orderTypeData.name == 'TableOrder'? 'Dine-in table# ' + orderTypeData.table : orderTypeData.name }}
                                    {{ orderTypeData.name?OrderType(orderTypeData.name):'' }}
                                </li>
                                <li ng-if="!(onlyDelivery || onlyCollection)">
                                    <a class="inlinelink" style="font-size: 11px;" ng-click="openTableOptions()">change</a>
                                </li>
                                <!-- <li><input type="radio" id="order-type-onez" name="order-type" ng-model="ordertype"
                                        value="Delivery" ng-checked><label for="order-type-onez"
                                        ng-click="OrderType('Delivery')"> Delivery </label></li>
                                <li><input type="radio" id="order-type-twoz" name="order-type" ng-model="ordertype"
                                        value="Collection"><label for="order-type-twoz"
                                        ng-click="OrderType('Collection')"> Collection</label></li>
                                <li><input type="radio" id="order-type-threez" name="order-type" ng-model="ordertype"
                                        value="TableOrder"><label for="order-type-threez"
                                        ng-click="OrderType('TableOrder')"> Table Order</label></li> -->
                            </ul>
                        </form>
                    </div>
                    <div class="options">
                        <div id="mydivz" class="fontSet" style="color:#535353; text-align:center; padding:5px; font-size:14px;margin-bottom: 10px;margin-top: 15px;" ng-show="isBillGreaterThanMinimumAmount">
                                <!-- asdasd {{minimumorderamountleft}} amount left to reach the minimum order amount -->
                                Spend {{restaurantObject.Currency}}{{minimumorderamountleft | number:2}} more for delivery
                        </div>
                        <div id="mydivz" class="fontSet" style="color:#535353; text-align:center; padding:5px; font-size:14px;margin-bottom: 0px;margin-top: 15px;" ng-show="isCartEmpty">
                            <!-- asdasd {{minimumorderamountleft}} amount left to reach the minimum order amount -->
                            Your cart is empty!
                        </div>                        
                    </div>
                    <div class="cart-details">
                        <h3 ng-show="!isCartEmpty">Cart</h3>
                        <ul>
                            <li ng-repeat = "products in Products track by $index">
                                <div class="row">
                                    <div class="col remove" >
                                        <span class="icon-minus-square" ng-click="removeProduct(products);" ng-if="FilterSimpleProducts(products)"></span>
                                        <input class="qty" type="text" value="{{products.quantity}}" min="1" readonly>
                                        <!-- <span class="icon-plus-square" ng-click="addqty(products);" ng-if="FilterSimpleProducts(products)"></span> -->
                                    </div>
                                    <div class="col items" >
                                        <span ng-if="FilterSimpleProducts(products)" class="fontSet">{{products.MenuItem | capitalize | limitTo : 25}}</span>
                                        <ul class="modifiers" ng-if="FilterModifierProducts(products)" >
                                                <!-- ({{products.OnlineTax | number: 2}}) -->
                                            <li class="modifierfont">{{products.MenuItem | capitalize | limitTo : 25}} </li>
                                        </ul>
                                    </div>
                                    <div class="col price" >
                                        <span class="fontSet"> {{restaurantObject.Currency}}{{products.price | number: 2}}</span>
                                    </div>
                                </div>
                            </li>
                            <li class="total-row">
                                <div class="row" ng-show="hideText">
                                    <div class="col items fontSet">
                                        Delivery fee
                                    </div>
                                    <div class="col price fontSet">
                                        {{restaurantObject.Currency}}{{DeliveryCharges | number:2}}
                                    </div>
                                </div>
                                <div class="row" ng-show="!isCartEmpty">
                                    <div class="col items fontSet">
                                        Total
                                    </div>
                                    <div class="col price fontSet">
                                        {{restaurantObject.Currency}}{{TotalAmount | number:2}}
                                    </div>
                                </div>
                            </li>
                            <li class="g-total-row" ng-show="hideText">
                                <div class="row">
                                    <div class="col items fontSet">
                                        Minimum Order
                                    </div>
                                    <div class="col price fontSet">
                                        {{restaurantObject.Currency}}{{MinOrderAmount | number:2}}
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="clearfix"><br></div>
                        <!-- ng-if="(Pages.orderNow == 'active')" -->
                        <a href class="checkout-cart" ng-click="openCart();" ng-disabled="IsPreccedButtonDisable"
                            ng-class="{'diabled-class': IsPreccedButtonDisable}">Proceed</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="view view-main">
            <!-- <div id="external_js" w3-include-html="style.html"></div> -->
            <div id="external_js2"></div>
            <header>
                <div class="brand-row">
                    <div class="wrapperz">
                        <div class="nav-wrapper">
                            <img src="{{restaurantObject.LogoPath + CompIcon}}" class="menu-brand" alt="">
                            <a href="#" ng-click="viewMobileCart();" class="cartBtn position-cart ng-binding">
                                (<span ng-bind="cartProducts.numberOfProducts"></span>)
                                {{(restaurantObject.Currency) + (cartProducts.totalAmount | number:2)}}
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                            <!-- <input type="checkbox" class="toggler" id="mobileMenu" /> -->
                            <label class="menu-icon" id="mobileMenu">&#9776; Menu</label>
                              <nav class="navbar">
                                <ul class="menu">
                                  <div class="left-nav">
                                  <li><a href="" onclick="WebRedirect('devordering.jempos.co.uk/')" class="{{Pages.home}}">Home</a></li>
                                  <li ng-if="isOptionAvailable('deliveryOrder')"><a class="{{Pages.delivery}}" href="" ng-click="selectedOrderType('Delivery')">Delivery</a></li>
                                  <li ng-if="isOptionAvailable('collectionOrder')"><a class="{{Pages.collection}}" href="" ng-click="selectedOrderType('Collection')">Collection</a></li>
                                  <li ng-if="isOptionAvailable('tableOrder')"><a class="{{Pages.table}}" href="" ng-click="openTableOrder();">Table</a></li>
                                  <li><a href="" ng-click="contactUsPage();changeClass('contactUs');">Contact</a></li>
                                  </div>
                                  <div class="right-nav">
                                  <li class="login-link" ng-if="firstName.length == 0">
                                      <a href="" ng-click="ChangePage('login');" class="loginBtn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                                  </li>
                                  <li ng-if="firstName.length != 0" class="account-menu">
                                    <!-- <input type="checkbox" class="dropdowninput" id="dropdowninput" /> -->
                                    <label id="dropdowninput" for="dropdowninput">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        {{ firstName + ' ' + lastName}}
                                        <span class="downArrow"></span>
                                    </label>
                                    <ul class="sub-menu">
                                        <li><a href ng-click="getRecentOrders();">Orders</a></li>
                                        <li><a href ng-click="ChangePage('myprofile');">Profile</a></li>
                                        <li ng-if="isLoyalty"><a href ng-click="ChangePage('myrewards');getRewardPoints();">Rewards <span class="rew_points">{{ availablePoints }}</span></a></li>
                                        <li><a href ng-click="logout();">Logout</a></li>
                                    </ul>
                                  </li>
                                  </div>
                                </ul>
                            </nav>
                          </div>
                        <!-- <div class="row">
                            <div class="cols col-12 text-center basket-link logo-wrapper">
                                <a href="" class="brand"><img src="{{restaurantObject.LogoPath + CompIcon}}" alt=""></a>
                                <a href="#" class="cartBtn position-cart" ><span ng-bind="cartProducts.numberOfProducts"></span> {{(restaurantObject.Currency) + (cartProducts.totalAmount | number:2)}} <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>                           
                                <span id="menubtn" class="menu-btn">
                                    <img src="images/menu2.svg" alt="">
                                </span>
                                <a href="#" class="cartBtnMobile" ng-click="viewMobileCart();" id="showCart">
                                    <span class="cartbtn-wrapper">
                                        <span ng-bind="cartProducts.numberOfProducts"></span><i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="cols col-12">
                                <nav id="mainNav">
                                    <div class="row">
                                        <ul id="help-links">
                                            <li><a href="" class="{{Pages.home}}" ng-click="ChangePage('home');changeClass('home');">Home</a></li>
                                            <li ng-if="isOptionAvailable('deliveryOrder')"><a href="" class="{{Pages.delivery}}" ng-click="selectedOrderType('Delivery')">Delivery</a></li>
                                            <li ng-if="isOptionAvailable('collectionOrder')"><a href="" class="{{Pages.collection}}" ng-click="selectedOrderType('Collection')">Collection</a></li>
                                            <li ng-if="isOptionAvailable('tableOrder')"><a href="" class="{{Pages.table}}" ng-click="openTableOrder();">Table</a></li>
                                            <li><a href="" class="{{Pages.book}}" ng-click="ChangePage('book');changeClass('book');">Book</a></li> 
                                            <li><a href="" class="{{Pages.news}}" ng-click="ChangePage('news');changeClass('news');">News</a></li>
                                            <li><a href="" class="{{Pages.contactUs}}"ng-click="contactUsPage();changeClass('contactUs');">Contact</a></li>
                                            <li><a href="" class="{{Pages.about}}" ng-click="ChangePage('about');changeClass('about');">About</a></li>
                                            <li class="login-link" ng-if="firstName.length == 0"><a href ng-click="ChangePage('login');" class="loginBtn"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                                            <li ng-if="firstName.length != 0" class="login-link" ng-click="dropDown();">
                                                <label for="drop2" class="dropdown">
                                                    <div class="dd-button">
                                                        <i class="fa fa-user" aria-hidden="true"></i> {{ firstName + ' ' + lastName}}
                                                    </div>
                                                    <input type="checkbox" class="dd-input-main" id="drop2">
                                                    <ul class="dd-menu-main">
                                                        <li><a href ng-click="getRecentOrders();">Orders</a></li>
                                                        <li><a href ng-click="ChangePage('myprofile');">Profile</a></li>
                                                        <li ng-if="isLoyalty"><a href ng-click="ChangePage('myrewards');getRewardPoints();">Rewards <span class="rew_points">{{ availablePoints }}</span></a></li>
                                                        <li><a href ng-click="logout();">Logout</a></li>
                                                    </ul>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div> -->
                    </div>
                </div>
            </header>
            <div id="catbar" class="mobile-menu">
                <span id="closecat" class="closemMenu"><img src="images/close.svg" alt=""></span>
                <!-- <span id="closecat" class="closemMenu"><i class="fa fa-times" aria-hidden="true"></i></span> -->
                <div class="mobile-menu-wrapper">
                    <ul class="slideMenu">
                        <li ng-if="firstName.length != 0"><a href ng-click="getRecentOrders();" class="mlink-item"><i
                                    class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Orders</a></li>
                        <li ng-if="firstName.length != 0"><a href ng-click="ChangePage('myprofile');"
                                class="mlink-item"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                Profile</a></li>
                        <li ng-if="firstName.length != 0"><a href ng-click="ChangePage('myrewards');"
                            class="mlink-item"><i class="fa fa-ticket" aria-hidden="true"></i>
                            Rewards</a></li>
                        <li ng-if="firstName.length != 0"><a href ng-click="getMyAddresses();" class="mlink-item"><i
                                    class="fa fa-map-marker" aria-hidden="true"></i>
                                Addresses</a></li>
                        <li ng-if="firstName.length != 0"><a href ng-click="logout();" class="mlink-item"><i
                                    class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout</a></li>
                        <li ng-if="firstName.length == 0">
                            <a href ng-click="ChangePage('login');" class="mlink-item"><span
                                    class="icon-sign-in"></span> Login</a></li>
                        <li ng-if="firstName.length == 0">
                            <a href ng-click="ChangePage('signup');" class="mlink-item"><span
                                    class="icon-user-add"></span> Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero-section2">
                <h3 class="">Ready to Order?</h3>
            </div>
            <div class="message">
                <div class="wrapperz">
                    <div class="row">
                        <div class="cols col-6">
                            <p>You or someone you're ordering for has a food allergy or intolerance</p>
                        </div>
                        <div class="cols col-6 text-right"><a href class="btn" ng-click="openAllergyPopup();">Click
                                Here</a></div>
                    </div>
                </div>
            </div>
            <ng-view></ng-view>
            

            <style>
                .fintro {
                    margin-top: 10px;
                }
                .fintro.time-col p{
                    line-height: 1.4 !important;
                    color: #515050;
                    font-size: 95%;
                }
                .fintro.time-col strong {
                    font-weight: 600;
                }
                .fintro .day-span{
                    display: inline-block;
                    width: 40px;
                    position: relative;
                }
                .fintro .day-span::after{
                    content: ":";
                    position: absolute;
                    right: 0;
                }
                .fintro.social img{
                    width: 90%;
                }
            </style>
            <div class="first_footer">
                <div class="wrapperz">
                  <div class="row">
                    <div class="cols col-3 fintro">
                      <h3>Contact us</h3>
                      <div>
                        <ul class="contact_info">
                          <li class="citem clocation"> <span>{{restaurantObject.restaurantAddress}}</span> </li>
                          <li class="citem cphone"> <span>{{restaurantObject.phoneNumber}}</span> </li>
                          <li class="citem cemail"> <span>{{restaurantObject.email}}</span> </li>
                        </ul>
                      </div>
                    </div>
                    <div class="cols col-3 fintro social">
                      <h3>Follow us on</h3>
                      <ul class="list-inline social-links">
                        <li> <a href="#" onclick="WebRedirect('www.facebook.com/clockontheshore/')" class="btn-social btn-outline facebook-btn" target="_blank"><i
                              class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                        <!-- <li> <a href="#" class="btn-social btn-outline twitter-btn" onclick="socialMedia('')"><i class="fa fa-twitter"
                              aria-hidden="true"></i></a> </li> -->
                        <li> <a href="#" class="btn-social btn-outline pinterest-btn" onclick="WebRedirect('www.facebook.com/clockontheshore/')"><i
                              class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                      </ul>
                      <div class="clearfix"><br><br></div>
                      <p>Payments Accepted</p> <img src="images/pay_by_cards.jpg" alt="">
                    </div>                    
                    <div class="cols col-3 fintro time-col">
                        <h3>Timings</h3>
                        <p ng-repeat="item in businessCalendar.data">
                            <span class="day-span"><strong>{{ item.day.substring(0, 3) }}</strong></span>
                            {{ item.openTime }} To {{ item.closeTime }}
                        </p>
                    </div>
                    <div class="cols col-3 fintro">
                      <h3>Powered by</h3>
                      <a href="#" onclick="JeMWeb()">
                        <div class="poweredby"> <img src="images/footer-logo.jpg" alt="">
                          <p>www.jempos.co.uk</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
                <button onclick="topFunction()" id="myBtn" title="Go to top" ng-show="topButtonShow"><i
                    class="fa fa-chevron-up" aria-hidden="true"></i></button>


            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close" ng-click="closeAllergyPopup();">&times;</span>
                    <h3 class="allergyHeading">Do you have a food allergy?</h3>
                    <p class="allergyDescription text-center">if you have a food alergy or intolerance (or someone
                        you're ordering
                        for has), phone the restaurant on <br>
                        <strong>{{restaurantPhoneNumber}}</strong></p>
                </div>
            </div>

            <!-- The Modal -->
            <div id="alertModal" class="alert-modal">
                <!-- Modal content -->
                <div class="alert-modal-content">
                    <span class="alert-close" ng-click="closeAllergyPopup();">&times;</span>
                    <strong>{{alertMessage}}</strong>
                </div>
            </div>


            <!-- <footer>
                <div class="wrapperz">
                    <div class="row">
                        <div class="cols col-12 copyright">
                            <p>Powered by JeM Point of Sale</p>
                        </div>
                    </div>
                </div>
            </footer> -->

            <!--
                <script src="accordion-menu/popup/jquery.magnific-popup.min.js"></script>
                <script src="accordion-menu/js/main.js"></script>
            -->
            <script src="accordion-menu/popup/jquery.magnific-popup.min.js"></script>
            <script src=" js/main.js"></script>

            <script>
                //includeHTML();
            </script>
            <script>
                $(document).ready(function () {
                    

                    $('#dropdowninput').click(function(e) {
                        $('.sub-menu').toggle();
                        e.stopPropagation();
                    });

                    $('#mobileMenu').click(function(e) {
                        $('.navbar').toggle();
                        e.stopPropagation();
                    });

                    $("body").click(function(){
                        if (!$('.sub-menu').is(":hidden")) {
                            $('.sub-menu').css('display', 'none');
                        }
                        if ($(window).width() < 768) {
                            if (!$('.navbar').is(":hidden")) {
                                $('.navbar').css('display', 'none');
                            }
                        }
                    });	

                    // //show mobile sidebars start
                    $("#menubtn").click(function(){
                        $("#catbar").addClass("show-left");
                    });
                    $("#closecat").click(function(){
                        $("#catbar").removeClass("show-left");
                    });
                    $(".mlink-item").click(function(){
                        $("#catbar").removeClass("show-left");
                    });


                    $("#showCart").click(function(){
                        //$("#mCartbar").addClass("show");
                        //$("body").addClass("hideoverflow");

                        //$("body").css({ "overflow":"hidden", "height":"100vh" }); 
                    });
                    $("#closeCart").click(function(){
                        $("#mCartbar").removeClass("show");
                        $("body").removeClass("hideoverflow");

                        //$("body").removeAttr("style");
                    });

                    $('.mlink-item').click( function() {
                        $("#catbar").removeClass("show-left");
                    });

                    var divh = $("#cart-bar").height();
                    var win = $(window).height();
//                    console.log("hello",divh)

                    if (divh > win) {
                        $(".sticky").addClass('scrollable');
                    }


                    $(document).click(function (e) {
                        if (!$(e.target).is($('#drop2'))) {
                            $('#drop2').prop("checked", false);
                        } else {
                            var msg = "checked " + $('#drop2:checked').length + " items";
                            $('#count').html(msg);
                        }
                    });
                });
            </script>
        </div>
    </div>

</body>

</html>