<div class="page-wrapper">
  <section class="bg-image space-md"  style="background:url('assets/images/image01.jpg')" data-image-src="assets/images/image01.jpg">
    <div class="profile">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
            <h1 class="font-white">My Orders</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page inner-page">
    <div class="container">
      <app-user [selectedTab]="'orders'"></app-user>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="orders-tab" role="tabpanel" aria-labelledby="orders-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order Number</th>
                <th scope="col">Total Price</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>123-re-2321</td>
                <td>$50</td>
                <td>18 April 2022</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>5483-be-2321</td>
                <td>$34</td>
                <td>16 April 2022</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>