nav {
    background: #A7A7A7;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 48%;
    border: 0px solid #f00;
    float: left;
}

nav ul::after {
    content: "";
    clear: both;
    display: table;
}
.right-menu{
    text-align: right;
}
ul.right-menu li{
    float: right !important;
}

nav ul li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    float: left;
}

nav ul li:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.2)
}

nav ul li:last-child {
    border-right: 0 px solid rgba(255, 255, 255, 0.2)
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    line-height: 1;
    padding: 12px 35px;
    background: transparent;
    display: block;
}

nav ul li a:hover {
    background: #007bff;
    color: #ffffff;
}

nav ul li a.active {
    background: #007bff;
    color: #ffffff;
}

ul.right-menu li a.active{
    background: #0070C4;
}

nav ul li.droplink {
    position: relative;
}
nav ul li.droplink:after {
    content: '\f107';
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 15px;
}
nav ul li ul.dropdown {
    background: #006EC2;
    visibility: hidden;
    opacity: 0;
    min-width: 190px;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1px;
    z-index: 10;
    left: 0;
    display: none;
}

nav ul li:hover > ul.dropdown,
nav ul li ul.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul.dropdown li {
    clear: both;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}
nav ul li ul.dropdown li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    font-size: 12px;
}
nav ul li ul.dropdown li a:hover {
    text-decoration: none;
    color: #000;
    background: lightgrey;
}