<div class="page-wrapper">
  <section class="bg-image space-md" style="background:url('assets/images/image01.jpg')"
    data-image-src="assets/images/image01.jpg">
    <div class="profile">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
            <h1 class="font-white">My Orders</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="breadcrumb">
    <div class="container">
      <ul>
        <li><a routerLink="/" class="active">Home</a></li>
        <li><a routerLink="/user/orders">Orders</a></li>
        <li>Order Details</li>
      </ul>
    </div>
  </div>
  <section class="contact-page inner-page">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderDetails">
            <td>{{order.productName}}
              <ul>
                <li *ngFor="let selection of order.productVariants"> - {{selection.choiceName}}</li>
              </ul>
            </td>
            <td>{{order.productQuantity}}</td>
            <td>{{order.productPrice | mycurrency}}</td>
            <td>{{order.productQuantity*order.productPrice | mycurrency}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <p class="order-price"> <a class="btn theme-btn" style="width: 15%">VAT: {{order?.vatAmount | mycurrency}}</a>
        </p>
        <p class="order-price"> <a class="btn theme-btn" style="width: 15%">Delivery: {{order?.deliveryCharges |
            mycurrency}}</a> </p>
        <p class="order-price"> <a class="btn theme-btn" style="width: 15%">Total Price: {{order?.totalAmount |
            mycurrency}}</a> </p>
      </div>

    </div>
  </section>
</div>