<div class="page-wrapper">
    <div class="breadcrumb">
       <div class="container">
          <ul>
             <li><a href="#" class="active">Home</a></li>
             <li><a href="#">Search results</a></li>
             <li>Profile</li>
          </ul>
       </div>
    </div>
    <section class="contact-page inner-page">
       <div class="container">
          <div class="row">
             <!-- REGISTER -->
             <div class="col-md-8">
                <div class="widget">
                   <div class="widget-body">
                      <form #registerForm = "ngForm">
                         <div class="row">
                            <div class="form-group col-sm-6">
                               <label for="firstName">First Name</label>
                               <input class="form-control" type="text" placeholder="Full Name" id="firstName" name="firstName" [(ngModel)]="user.firstName" required> 
                            </div>
                            <div class="form-group col-sm-6">
                               <label for="firstName">Last Name</label>
                               <input class="form-control" type="text" placeholder="Full Name" id="firstName" name="firstName" [(ngModel)]="user.lastName" required> 
                            </div>
                            <div class="form-group col-sm-6">
                               <label for="emailAddress">Email address</label>
                               <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="user.email" required> 
                               <!-- <small id="emailHelp" class="form-text text-muted">We"ll never share your email with anyone else.</small>  -->
                            </div>
                            <div class="form-group col-sm-6">
                               <label for="phoneNumber">Phone number</label>
                               <input class="form-control" type="tel" placeholder="+445555555" minlength="10" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" required> 
                               <!-- <small class="form-text text-muted">We"ll never share your email with anyone else.</small>  -->
                            </div>
                            <div class="form-group col-sm-6">
                               <label for="password">Password</label>
                               <input type="password" class="form-control" id="password" minlength="6" placeholder="password" name="password" [(ngModel)]="user.password" required> 
                            </div>
                         </div>
                         <span class="error text-danger" *ngIf="error">{{error.message}}</span>
                         <div class="row ">
                            <div class="col-sm-12 register-btn ">
                              <button class="btn theme-btn" name="login" (click)="onSignup();" [disabled]="registerForm.invalid">Register </button>
                               <!-- <p class="register-btn"> <a (click)="onSignup();" class="btn theme-btn" [disabled]="registerForm.invalid" >Register</a> </p> -->
                            </div>
                         </div>
                      </form>
                   </div>
                   <!-- end: Widget -->
                </div>
                <!-- /REGISTER -->
             </div>
             <!-- WHY? -->
             <div class="col-md-4" *ngIf="!isMobile">
                <h4>Registration is fast, easy, and free.</h4>
                <p>Once you"re registered, you can:</p>
                <hr>
                <img src="assets/images/Local.png" alt="" class="img-fluid">
                <p></p>
                <div class="panel">
                   <div class="panel-heading">
                      <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="ti-info-alt" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                   </div>
                   <div class="panel-collapse collapse" id="faq1" aria-expanded="false" role="article" style="height: 0px;">
                      <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                   </div>
                </div>
                <!-- end:panel -->
                <div class="panel">
                   <div class="panel-heading">
                      <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2" aria-expanded="true"><i class="ti-info-alt" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                   </div>
                   <div class="panel-collapse collapse" id="faq2" aria-expanded="true" role="article">
                      <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                   </div>
                </div>
                <!-- end:Panel -->
                <h4 class="m-t-20">Contact Customer Support</h4>
                <p> If you"re looking for more help or have a question to ask, please </p>
                <p> <a href="contact.html" class="btn theme-btn m-t-15">contact us</a> </p>
             </div>
             <!-- /WHY? -->
          </div>
       </div>
    </section>
 </div>
