<div class="page-wrapper">
  <section class="bg-image space-md" style="background:url('assets/images/image01.jpg')"
    data-image-src="assets/images/image01.jpg">
    <div class="profile">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
            <h1 class="font-white">My Orders</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page inner-page">
    <div class="container">
      <app-tabs [selectedTab]="'orders'"></app-tabs>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="orders-tab" role="tabpanel" aria-labelledby="orders-tab">
          <ag-grid-angular style="width: 100%; height: 500px;" appGridResizer class="ag-theme-material"
            [gridOptions]="gridOptions">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </section>
</div>