<div class="page-wrapper">
  <section class="bg-image space-md"  style="background:url('assets/images/image01.jpg')" data-image-src="assets/images/image01.jpg">
    <div class="profile">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4  col-lg-4 profile-img">
            <h1 class="font-white">My Orders</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page inner-page">
    <div class="container">
      <app-tabs [selectedTab]="'orders'"></app-tabs>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="orders-tab" role="tabpanel" aria-labelledby="orders-tab">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Order Number</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of ordersList; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{order.orderNumber}}</td>
                  <td>{{order.totalAmount}}</td>
                  <td>{{order.date}}</td>
                  <td><a [routerLink]="['/user/orders/',order.id]"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>